<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/DIVYA_21BTAI25/COLLEGE_PYTHON_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter the number:"))
print(a)
type(a)

enter the number:3
3

int

In [ ]:
b=(input("enter the string:"))
print(b)
type(b)

enter the string:divya
divya

str

In [ ]:
c=float(input("enter the float  number:"))
print(c)
type(c)

enter the float  number:2.3
2.3

float

In [ ]:
import math
x1=int(input("enter the value x1"))
x2=int(input("enter the value x2"))
y1=int(input("enter the value y1"))
y2=int(input("enter the value y2"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("the distance between two points is;",d)

enter the value x12
enter the value x23
enter the value y13
enter the value y24
the distance between two points is; 1.4142135623730951

In [ ]:
x=int(input("enter the number: "))
if (x%2==0):
    print('x is an even number')
else:
    print('x is an odd number')

enter the number: 3
x is an odd number

In [ ]:
num = int(input("enter the number"))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10                                                        
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

enter the number153
153 is an Armstrong number

In [ ]:
x=int(input("enter the number"))
while x>=0:
     print(x)
     x=x-1

enter the number3
3
2
1
0

In [ ]:
str=input("Enter a String")
dict = {}
for i in str: 
    dict[i] = str.count(i)
print (dict)

Enter a Stringdivya
{'d': 1, 'i': 1, 'v': 1, 'y': 1, 'a': 1}

In [ ]:
my_lists=["divya","armaan","kushal"]
my_tuple=("divya","armaan","kushal")
print(my_lists)
print(my_tuple)
for i in my_lists:
    print(i)
for i in my_tuple:
    print(i)

['divya', 'armaan', 'kushal']
('divya', 'armaan', 'kushal')
divya
armaan
kushal
divya
armaan
kushal