<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/Copy_of_COLLEGE_PYTHONBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=int(input("enter the number:"))
print(num1)
type(num1)

enter the number:55
55

int

In [ ]:
str=(input("enter the string:"))
print(str)
type(str)

enter the string:Armaan
Armaan

str

In [ ]:
float_num = float(input("enter the float number:"))
print(float_num)
type(float_num)

enter the float number:35.65
35.65

float

In [ ]:
import math
x1=int(input("enter the value x1"))
x2=int(input("enter the value x2"))
y1=int(input("enter the value y1"))
y2=int(input("enter the value y2"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("the distance between two points is;",d)

enter the value x12
enter the value x23
enter the value y13
enter the value y24
the distance between two points is; 1.4142135623730951

In [ ]:
num = int(input("enter the number: "))
if (num%2==0):
    print('num is an even number')
else:
    print('num is an odd number')

enter the number: 34
num is an even number

In [ ]:
x=int(input("enter the number"))
while x>=0:
     print(x)
     x=x-1

enter the number5
5
4
3
2
1
0

In [ ]:
str1=input("Enter a String")
dict = {}
for i in str1: 
    dict[i] = str1.count(i)
print (dict)

Enter a Stringbanana
{'b': 1, 'a': 3, 'n': 2}

In [ ]:
my_lists=["divya","armaan","kushal"]
my_tuple=("divya","armaan","kushal")
print(my_lists)
print(my_tuple)
for i in my_lists:
    print(i)
for i in my_tuple:
    print(i)

['divya', 'armaan', 'kushal']
('divya', 'armaan', 'kushal')
divya
armaan
kushal
divya
armaan
kushal

In [ ]:
# write a program to calculate factorial of a given number
num = int(input("Enter a number: "))
res = 1
for i in range(1, num+1):
    res = res * i
print(f"The factorial of {num} number is {res}")

Enter a number: 5
The factorial of 5 number is 120

Experiment 7.1

In [ ]:
str = input ("Enter word:")
if str [ : 2] == "0!":
  for i in range (len(str)) :
    print (str[i])
else :
  print ("Enter again ")

Enter word:0!armaan
0
!
a
r
m
a
a
n

Experiment 7.2

In [ ]:
str = input ("Enter word")
for i in range (-1, -len(str) - 1, -1) :
  print (str[i])

Enter wordarmaan mistry
y
r
t
s
i
m

n
a
a
m
r
a

Experiment 7.3

In [ ]:
s = input("Enter a new string :")
new = s[-1: :-1]
print(new)

Enter a new string :armaan mistry
yrtsim naamra

Experiment 7.4

In [ ]:
s = input("Enter a string :")
letter = input("Enter a letter which you want to count .")
count = 0
for i in s :
  if i == letter :
      count += 1
print(count)

Enter a string :armaan mistry
Enter a letter which you want to count .a
3

Experiment 8.1

In [ ]:
n = [12,45,8,2,46]
l = len(n)
t= 0
for i in range(l) :
  t = t + n[i]
print("Total: ",t)
mean = t/l
print(mean)

Total:  113
22.6

Experiment 8.2

In [ ]:
numb = [2, 4, 5, 8, 9]
no = len(numb)
numb.sort()
if no % 2 == 0:
  median1 = numb[no//2]
  median2 = numb[no//2 - 1]
  median = (median1 + median2)/2
else:
  median = numb[no//2]
print("The median of the given numbers ", numb, "is",(median))

The median of the given numbers  [2, 4, 5, 8, 9] is 5

In [ ]:
d = {"boywithuke" : "toxic" , "selena": "taki", "marshmellow" :"friends","harry" :"asitwas"}
username = input("Enter the username :")
if username in d:
  password = input("Enter the password :")
  if d[username]== password :
    print("You are logged in!")
  else :
    print("You have entered wrong password . ")
else :
  print("The person is not valid to login .")

Enter the username :boywithuke
Enter the password :toxic
You are logged in!

Experiment 10

In [1]:
# t = (1, 2, 3)
# i = ''.join(map(str, t))
# print(i)

Experiment 11

In [ ]:
sub_marks = [('Mathematics', 92), ('Python', 94), ('Environment',95)]
print("Original list of tuples:")
print(sub_marks)
sub_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(sub_marks)

Original list of tuples:
[('Mathematics', 92), ('Python', 94), ('Environment', 95)]

Sorting the List of Tuples:
[('Mathematics', 92), ('Python', 94), ('Environment', 95)]

Experiment 12

In [ ]:
# tup = eval(input("Enter a tuple :- "))
# index = 0
# while index < len(tup):
#   new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
#   print (new, end = " ")
#   index += 1

Experiment 13

In [ ]:
n = int(input("Enter a number: "))
n1 = 0
n2=1
print("Series",n1,n2,end=" ")
for i in range(2,n):
  new = n1 + n2
  n1 = n2
  n2 = new
  print(new, end=" ")
print()

Enter a number: 10
Series 0 1 1 2 3 5 8 13 21 34

In [ ]:
while True:
    print("\nMENU")
    print("1. Binary Search")
    print("2. Linear Search")

    print("3. Exit")
    choice = int(input("\nEnter the Choice: "))

    if choice == 1:
        def binary_search(list1, n):
            low = 0
            high = len(list1) - 1
            mid = 0

            while low <= high:

                mid = (high + low) // 2

                if list1[mid] < n:
                    low = mid + 1

                elif list1[mid] > n:
                    high = mid - 1
                else:
                    return mid

            return -1

        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = binary_search(list1, n)

        if result != -1:
            print("Element is present at index", str(result))
        else:
            print("Element is not present in list1")

    if choice == 2:
        def search(arr, x):

            for i in range(len(arr)):

                if arr[i] == x:
                    return i

            return -1


        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = search(list1, n)

        if result != -1:
            print("Element is present at index", result)
        else:
            print("Element is not present in list1")

    break

MENU
1. Binary Search
2. Linear Search
3. Exit

Enter the Choice: 2
enter digits of array:1
enter digits of array:5
enter digits of array:7
enter digits of array:9
enter digits of array:4
enter your target: 9
Element is present at index 3

Experiment 15.1

In [ ]:
list1=[30,5,6,8,5,2]
print(list1)

for i in range(len(list1)-1):

  for j in range(i+1,len(list1)):

    if list1[i] > list1[j]:

      list1[i],list1[j] = list1[j],list1[i]

print(list1)

[30, 5, 6, 8, 5, 2]
[2, 5, 5, 6, 8, 30]

Experiment 15.2

In [ ]:
list1=[10,4,25,1,5]
print(list1)

for i in range(1,len(list1)):

  value0 = list1[i]                  

  j = i-1

  while j>=0 and value0<list1[j]:

    list1[j+1] = list1[j]
    j=j-1

  list1[j+1] = value0
  print(list1)

[10, 4, 25, 1, 5]
[4, 10, 25, 1, 5]
[4, 10, 25, 1, 5]
[1, 4, 10, 25, 5]
[1, 4, 5, 10, 25]