<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/DARSHIL_21BTAI14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
b=12,13
print(type(b))

<class 'tuple'>

In [ ]:
c=3+5j
print(type(c))

<class 'complex'>

In [ ]:
d=("Hello")
print(type(d))

<class 'str'>

In [ ]:
e=['Sky']
print(type(e))

<class 'list'>

In [ ]:
f=tuple(("Sky"))
print(type(f))

<class 'tuple'>

In [ ]:
g=dict(Name = "Sky" , Work = "Study")
print(type(g))

<class 'dict'>

In [ ]:
h=True
print(type(h))

<class 'bool'>

In [ ]:
i=False
print(type(i))

<class 'bool'>

In [ ]:
import math
x1 = input("Enter Number x1 : ")
x1 = int(x1)

y1 = input("Enter Number y1 : ")
y1 = int(y1)

x2 = input("Enter Number x2 : ")
x2 = int(x2)

y2 = input("Enter Number y2 : ")
y2 = int(y2)

distance = math.sqrt((x1-x2) ** 2 + (y1-y2) ** 2)
print("distance between",(x1,y1),"and",(x2,y2),"is : ",distance)

Enter Number x1 : 5
Enter Number y1 : 1
Enter Number x2 : 6
Enter Number y2 : 4
distance between (5, 1) and (6, 4) is :  3.1622776601683795

In [ ]:
p=int(input("Enter a number : "))
if p%2==0:
  print("even")
else:
    print("odd")

Enter a number : 5
odd

In [ ]:
num = int(input("Enter a number :"))
s=0
a=num
while a>0:
  digit = a%10
  s+=digit**3
  a//=10
if num==s:
  print(num,"is a armstrong number")
else:
  print(num,"is not a armstrong number")

Enter a number :5
5 is not a armstrong number

In [ ]:
q=int(input("Enter a number : "))
i=0
while i<=q:
  print(i)
  i = i+1

Enter a number : 5
0
1
2
3
4
5

In [ ]:
a=str(input("Enter a string : "))
b={}
for i in a :
  b[i] = a.count(i)
print(b)

Enter a string : Darshil
{'D': 1, 'a': 1, 'r': 1, 's': 1, 'h': 1, 'i': 1, 'l': 1}

In [ ]:
list = ["Sky","Rutul","Patel"]
print (list)

['Sky', 'Rutul', 'Patel']

In [ ]:
tuple = ("Sky","Alpha","Delta")
print(tuple)

('Sky', 'Alpha', 'Delta')

In [ ]:
for i in list:
  print(i)
for i in tuple:
  print(i)

Sky
Rutul
Patel
Sky
Alpha
Delta

In [7]:
mytuple = (1, 'string', 4.43, 'xyz')
print(mytuple)
print(mytuple[1])
print(type(mytuple))
print(len(mytuple))

(1, 'string', 4.43, 'xyz')
string
<class 'tuple'>
4

In [8]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [10]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')