<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/NIMITI_21BTAI37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
a = {1,2,3,4,5}
b = 3.0
c = ("hello python")
d = 10
e = ["a","b","c"]
f = {"a","b","c"}
g = ('a','b','c')
h = 1+3j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'set'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'complex'>

In [ ]:
#2
x1=int(input("enter x1 : "))

x2=int(input("enter x2 : "))

y1=int(input("enter y1 : "))

y2=int(input("enter y2 : "))

result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)

print("distance between",(x1,x2),"and",(y1,y2),"is : ",result)

enter x1 : 4
enter x2 : 6
enter y1 : 0
enter y2 : 6
distance between (4, 6) and (0, 6) is :  6.324555320336759

In [ ]:
#3(1)
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is not an even number".format(num))

Enter a number: 25
25 is not an even number

In [ ]:
(2)
num1 = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 521
-1 is not an Armstrong number

In [ ]:
#4
num = int(input("Enter your number"))
while(num>=0):
  print(num)
  num = num-1

Enter your number10
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#5
str=input("enter string: ")
dict = {}
for i in str:
  dict[i] = str.count(i)
print(dict)

enter string: nimiti
{'n': 1, 'i': 3, 'm': 1, 't': 1}

In [ ]:
#6(1)
list_num = [1,2,3,4]
tup_num = [2,6,7,8]
print(list_num)
print(tup_num)

[1, 2, 3, 4]
[2, 6, 7, 8]

In [ ]:
(2)
str = "i am nimiti"
for i in str:
  print(i)

i

a
m

n
i
m
i
t
i

In [176]:
#7(i)
str = input ("Enter the Word :- ")
if str [ : 2] == "0!":
    for i in range (len(str)) :
        print (str[i])
else :
    print(str)


#(iii)
str = input ("Enter the Word :- ")
newstr = str[-1 : : -1]
print (newstr)

#(iv)
str = input ("Enter the Word :- ")
letter = input ("Enter a letter to count :- ") 
count = 0
for i in str :
    if i == letter :
        count += 1
print ("Number of letter :- ", count )

Enter the Word :- hello
hello
Enter the Word :- hello
olleh
Enter the Word :- hello
Enter a letter to count :- h
Number of letter :-  1

In [ ]:
#8(1)
import statistics
statistics.mean([5, 3, 6, 8, 9, 12, 5])

6.857142857142857

In [ ]:
#(2)
import statistics
statistics.median([5, 3, 6, 8, 9, 12, 5])

6

In [ ]:
#3
import statistics
statistics.mode([5, 3, 6, 8, 9, 12, 5])

5

In [ ]:
#4
nums = [9, 4, 6, 6, 5, 2, 10, 12, 1, 4, 4, 6]

minimum = min(nums)
maximum = max(nums)

range = maximum-minimum
print(range)

11

In [ ]:
#9

dic = {'Path' : "2003",
       'walla' : "1809",
       'Portal' : "1912",
       'Express' : "2003",
       'Computer' : "9834",
       'Python' : "1990",
       'Mysql' : "2001",
       'c++' : "1996",
       'java' : "1998",
       'html' : "1999" }

username = input("Enter username :- ")

if username in dic :
    password = input("Enter password :- ")
    if dic[username] == password :
        print ("You are now logged into the system.")
    else :
        print ("Invalid password.")
else :
    print ("You are not valid user")

Enter username :- Path
Enter password :- 2003
You are now logged into the system.

In [173]:
#10

In [ ]:
#11
subject_marks = [('Discrete Mathematics', 93), ('Python Programming', 95), ('Engineering Physics', 83), ('Environmental sciences', 88)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('Discrete Mathematics', 93), ('Python Programming', 95), ('Engineering Physics', 83), ('Environmental sciences', 88)]

Sorting the List of Tuples:
[('Engineering Physics', 83), ('Environmental sciences', 88), ('Discrete Mathematics', 93), ('Python Programming', 95)]

In [ ]:
#12(1)
tup = eval(input("Enter a tuple :- "))
index = 0
while index < len(tup):
    new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
    print (new, end = " ")
    index = 1

Enter a tuple :- "the","quick","brown","fox"
hetay uickqay rownbay oxfay

In [177]:
(2)
tup =("heTay","uickqay","rownbay", "oxfay") 
index = 0
while index < len(tup):
    new = tup[ index ][ -3 ] + tup[ index ][0 : -3 ] 
    print (new, end = " ")
    index += 1

The quick brown fox

In [ ]:
#13

In [181]:
#14

In [ ]:
#15