<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/NIMITI_21BTAI37.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = {1,2,3,4,5}
b = 3.0
c = ("hello python")
d = 10
e = ["a","b","c"]
f = {"a","b","c"}
g = ('a','b','c')
h = 1+3j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'set'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'complex'>

In [ ]:
x1=int(input("enter x1 : "))

x2=int(input("enter x2 : "))

y1=int(input("enter y1 : "))

y2=int(input("enter y2 : "))

result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)

print("distance between",(x1,x2),"and",(y1,y2),"is : ",result)

enter x1 : 4
enter x2 : 6
enter y1 : 0
enter y2 : 6
distance between (4, 6) and (0, 6) is :  6.324555320336759

In [ ]:
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is not an even number".format(num))

Enter a number: 25
25 is not an even number

In [ ]:
num1 = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 235
235 is not an Armstrong number

In [ ]:
num = int(input("Enter your number"))
while(num>=0):
  print(num)
  num = num-1

Enter your number10
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
str=input("enter string: ")
dict = {}
for i in str:
  dict[i] = str.count(i)
print(dict)

enter string: nimiti
{'n': 1, 'i': 3, 'm': 1, 't': 1}

In [ ]:
list_num = [1,2,3,4]
tup_num = [2,6,7,8]
print(list_num)
print(tup_num)

[1, 2, 3, 4]
[2, 6, 7, 8]

In [ ]:
str = "i am nimiti"
for i in str:
  print(i)

i

a
m

n
i
m
i
t
i