<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/practical_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to convert a given tuple of positive integers into an integer. Original tuple: (1, 2, 3) Convert the said tuple of positive integers into an integer: 123

In [2]:
nums=(1,2,3)
res = int(''.join(map(str,nums)))
print(res)

123

Write a program to demonstrate basic data types and purposefully raise indentation error along with its correction.

In [3]:
x = 20     

print(x)

print(type(x))

y = 20.5 #float

print(y)

print(type(y))

z= 1j        

print(z)

print(type(z))
a = "GoEduHub.com"   

print(a)

print(type(a))
b = ["Go", "Edu", "Hub"]       #list

print(b)

print(type(b))
c= ("Python", "from", "GoEduHub.com")       #tuple

print(c)

print(type(c))
d= {"name" : "anu", "age" : 36}  #dict

print(d)

print(type(d))
e = True  #bool

print(e)

print(type(e))

f = b"Hello"  

print(f)

20
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
GoEduHub.com
<class 'str'>
['Go', 'Edu', 'Hub']
<class 'list'>
('Python', 'from', 'GoEduHub.com')
<class 'tuple'>
{'name': 'anu', 'age': 36}
<class 'dict'>
True
<class 'bool'>
b'Hello'

Write a program to compute distance between two points taking input from the user (Pythagorean Theorem).

In [6]:
x1=int(input("enter x1 : "))

x2=int(input("enter x2 : "))

y1=int(input("enter y1 : "))

y2=int(input("enter y2 : "))

result= ((((x2 - x1 )**2) + ((y2-y1)**2) )**0.5)

print("distance between",(x1,x2),"and",(y1,y2),"is : ",(result))

enter x1 : 34
enter x2 : 23
enter y1 : 12
enter y2 : 12
distance between (34, 23) and (12, 12) is :  11.0

Write a program (a) For checking whether the given number is even or not (b) To check whether given number is Armstrong or not.

In [8]:
num = int(input("Enter a number: "))
s = 0
temp = num
while temp > 0:
   digit = temp % 10
   s += digit ** 3
   temp //= 10
if num == s:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [9]:
num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print("{0} is Even number".format(num))  
else:  
   print("{0} is Odd number".format(num))

Enter a number: 56
56 is Even number

Write a program using a while loop that asks the user for a number and prints a countdown from that number to zero.

In [10]:
n=int(input("Enter your number"))

while(n>=0):

    print(n)

    n=n-1

Enter your number4
4
3
2
1
0

Write a program to count the number of characters in the string and store them in a dictionary data structure.

In [11]:
s1=input("enter string : ")

f = {} 

for i in s1: 

    if i in f: 

        f[i] += 1

    else: 

        f[i] = 1

print(f)

enter string : hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

Write a program to demonstrate list and tuple in python. Write a program using a for loop that loops over a sequence.

In [12]:
t = () 

print (t)

tup = 'python', 'tuple'

print(tup) 
tup = ('python', 'GoEduHub') 

print(tup)

()
('python', 'tuple')
('python', 'GoEduHub')

In [14]:
L = []
print("Blank List: ")
print(L)
 
# Creating a List of numbers
L = [10, 20, 14]
print("\nList of numbers: ")
print(L)
 
# Creating a List of strings and accessing
# using index
L = ["Geeks", "For", "Geeks"]
print("\nList Items: ")
print(L[0])
print(L[2])
 
# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
L = [['Geeks', 'For'], ['Geeks']]
print(L)

Blank List:
[]

List of numbers:
[10, 20, 14]

List Items:
Geeks
Geeks
[['Geeks', 'For'], ['Geeks']]

In [15]:
color_list=['red','green','white','purple','pink','marron']

for i in color_list:

   print(i)

red
green
white
purple
pink
marron

Write a python program that should perform the following four tasks:

After getting a word (of input) from the user, your program should use a while (or for) loop to print outreach of the letters of the word. just remember that strings in python start with element 0!
Your program should then use another loop to print out each of the letters of the (same) word in reverse order.
Make a new variable that is the original word in reverse and print that variable. you can do this easily in python with a “string slice”.
Ask the user for a letter to count. Use another loop to count how many times that letter appears in the original word. print out this count

In [16]:
s=input("enter a word ")
for i in s:
  print(i)

enter a word hello
h
e
l
l
o

In [17]:
str1= input ("Enter the Word :- ")
for i in range ( len(str1) -1, -1,-1) :
    print (str1[i])

Enter the Word :- hello
o
l
l
e
h

In [18]:
str1 = input ("Enter the Word :- ")
newstr = str1[::-1]
print (newstr)

Enter the Word :- hello
olleh

In [19]:
sr1= input ("Enter the Word :- ")
letter = input ("Enter a letter to count :- ") 
count = 0
for i in sr1 :
    if i == letter :
        count += 1
print ("Number of letter :- ", count )

Enter the Word :- hello
Enter a letter to count :- l
Number of letter :-  2

Write a program to print the mean, median, mode and range of the list.

In [21]:
num = [1, 2, 3, 4, 5]
n = len(num)
s=0
for i in num:
  s=s+i
print(s)
mean=s/n
print("mean is ",mean)

15
mean is  3.0

In [22]:
n_num = [1, 2, 3, 4, 5]
n = len(n_num)
n_num.sort()
  
if n % 2 == 0:
    median1 = n_num[n//2]
    median2 = n_num[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = n_num[n//2]
print("Median is: " ,median)

Median is:  3

In [23]:
y= [11, 8, 8, 3, 4, 4, 5, 6, 6, 6, 7, 8]
y.sort()
L1=[]
i = 0
while i < len(y) :
    L1.append(y.count(y[i]))
    i += 1
d1 = dict(zip(y, L1))
d2={k for (k,v) in d1.items() if v == max(L1) }
print("mode is ",(d2))

mode is  {8, 6}

Write a program that uses a dictionary that contains ten usernames and passwords. the program should ask the user to enter their usernames and passwords. if the username is not in the dictionary, the program should indicate that the person is not a valid user of the system. if the username is in the dictionary, but the user does not enter the right password, the program should say that the password is invalid. if the password is correct, then the program should tell the user that they are now logged into the 1

In [25]:
dic = {'Path' : "2003",
       'walla' : "1809",
       'Portal' : "1912",
       'Express' : "2003",
       'Computer' : "9834",
       'Python' : "1990",
       'Mysql' : "2001",
       'c++' : "1996",
       'java' : "1998",
       'html' : "1999" }

username = input("Enter username :- ")

if username in dic :
    password = input("Enter password :- ")
    if dic[username] == password :
        print ("You are now logged into the system.")
    else :
        print ("Invalid password.")
else :
    print ("You are not valid user.")

Enter username :- html
Enter password :- 1999
You are now logged into the system.

Write a Python program to convert a given tuple of positive integers into an integer. Original tuple: (1, 2, 3) Convert the said tuple of positive integers into an integer: 123

In [29]:
nums=(1,2,3)
res = int(''.join(map(str,nums)))
print(res)

123

Write a Python program to sort a list of tuples using Lambda. Original list of tuples: – Original list of tuples: – [('Discrete Mathematics', 93), ('Python Programming', 95), ('Environmental Science', 88), ('Engineering Physics', 83)] – Sorting the List of Tuples: – [('Engineering Physics', 83), ('Environmental Science', 88), ('Discrete Mathematics', 93), ('Python Programming', 95)]

In [26]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

Write a program that inputs a tuple having words of a string as its element e.g., (“The”,” quick”,” brown”, “fox”) and then translate each text element to pig Latin.
Write a program that takes a tuple with words in pig latin (as created by previous question) and translate it back to original text

In [27]:
tup = ("The", "quick", "brown", "fox")
index = 0
while index < len(tup):
    new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
    print (new, end = " ")
    index += 1

heTay uickqay rownbay oxfay

In [28]:
tup =("heTay","uickqay","rownbay", "oxfay") 
index = 0
while index < len(tup):
    new = tup[ index ][ -3 ] + tup[ index ][0 : -3 ] 
    print (new, end = " ")
    index += 1

The quick brown fox

Write a program to solve the Eight Queens’ problem using recursion.

Write a menu-driven program to implement linear search and binary search.

In [30]:
def LinearSearch(array, n, k):

    for j in range(0, n):

        if (array[j] == k):

            return j

    return -1

 
array = [1, 3, 5, 7, 9]

k = 7
n = len(array)

result = LinearSearch(array, n, k)

if(result == -1):

    print("Element not found")

else:

    print("Element found at index: ", result)

Element found at index:  3

In [31]:
def binarySearch(arr, k, low, high):
   
    while low <= high:
        mid = low + (high - low)//2
        if arr[mid] == k:
            return mid
        elif arr[mid] < k:

            low = mid + 1
        else:

            high = mid - 1
    return -1

arr = [1, 3, 5, 7, 9]

k = 5
result = binarySearch(arr, k, 0, len(arr)-1)

if result != -1:

    print("Element is present at index " ,result)

else:

    print("Not found")

Element is present at index  2

Write a program to implement merge sort, selection sort and insertion sort.