<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/pythonlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program 1

In [ ]:
a=10
print(type(a))

<class 'int'>

In [2]:
b=12,13
print(type(b))

<class 'tuple'>

In [3]:
c=3+5j
print(type(c))

<class 'complex'>

In [4]:
d=("Hello")
print(type(d))

<class 'str'>

In [5]:
e=['blue']
print(type(e))

<class 'list'>

In [6]:
f=tuple(("blue"))
print(type(f))

<class 'tuple'>

In [7]:
g=dict(Name = "blue" , work = "Study")
print(type(g))

<class 'dict'>

In [8]:
h=True 
print(type(h))

<class 'bool'>

In [9]:
i=False
print(type(i))

<class 'bool'>

In [10]:
y={'parmar', 20}
print(type(y))

<class 'set'>

Program 2

In [11]:
import math
x1 = int(input("Enter Number x1: "))

y1 = int(input("Enter Number y1: "))

x2 = int(input("Enter Number x2: "))

y2 = int(input("Enter Number y2: "))

distance = math.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)
print("distance between", (x1, y1), "and", (x2, y2), "is: ", distance)

Enter Number x1: 4
Enter Number y1: 5
Enter Number x2: 1
Enter Number y2: 1
distance between (4, 5) and (1, 1) is:  5.0

Program 3

In [12]:
#a
p=int(input("Enter a number : "))
if p%2==0:
  print("even")
else:
  print("odd")

Enter a number : 24
even

In [19]:
#a
num=(input("Enter the number: "))
if num[0].isalpha ():
  print ("please enter integer number")
  num=int(input("Enter the integer number: "))
if int(num)%2==0:
  print("given number is even")
else:
  print("given number is odd")

Enter the number: sdf
please enter integer number
Enter the integer number: 26
given number is even

In [20]:
#b
num = int(input("Enter a number: "))
s=0
a=num
while a>0:
  digit = a%10
  s+=digit**3
  a//=10
if num==s:
  print(num, "is a armstrong number")
else:
  print(num, "is not a armstrong number")

Enter a number: 426
426 is not a armstrong number

Program 4

In [21]:
q=int(input("Enter a number : "))
i=0
while i<=q:
  print(i)
  i = i+1

Enter a number : 4
0
1
2
3
4

Program 5

In [22]:
a=str(input("Enter a string: "))
b={}
for i in a :
  b[i] = a.count(i)
print(b)

Enter a string: shanghai
{'s': 1, 'h': 2, 'a': 2, 'n': 1, 'g': 1, 'i': 1}

Program 6

In [23]:
list = ["blue", "birds", "sky"]
print(list)

['blue', 'birds', 'sky']

In [24]:
tuple = ("blue", "ocean", "water")
print(tuple)

('blue', 'ocean', 'water')

In [25]:
for i in list:
  print(i)
for i in tuple:
  print(i)

blue
birds
sky
blue
ocean
water