<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/SHAKTI_21BTAI17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
print(type(a))
a="HI"
print(type(a))
a=12.5
print(type(a))
a=1+2j
print(type(a))
a=True
print(type(a))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [ ]:
import math as m
x1=int(input("Enter x1:"))
y1=int(input("Enter y1:"))
x2=int(input("Enter x2:"))
y2=int(input("Enter y2:"))
d=m.sqrt((x2*x2-x1*x1)**2+(y2*y2-y1*y1)**2)
print("Distance between 2 points=",d)

Enter x1:1
Enter y1:2
Enter x2:3
Enter y2:4
Distance between 2 points= 14.422205101855956

In [ ]:
a=int(input("Enter the number:"))
if(a%2==0):
  print("Even number")
elif(a%2!=0):
  print("Odd number")
else:
  print("Enter valid numbe")

Enter the number:14
Even number

In [ ]:
a=int(input("Enter number to verify if it is armstrong number or not:"))
l=len(str(a))
sum=0
temp=a
while temp>0:
  k=temp%10
  sum+=k**l
  temp//=10
if(sum==a):
  print("Armstrong number")
else:
  print("Not an armstrong number")

Enter number to verify if it is armstrong number or not:15
Not an armstrong number

In [ ]:
a=int(input("Enter value:"))
c=a
while(c>=0):
  print(c)
  c=c-1

Enter value:5
5
4
3
2
1
0

In [ ]:
str=input("Enter a String:") 
dict={} 
for n in str: 
  keys = dict.keys() 
  if n in keys: 
     dict[n] += 1 
  else: 
     dict[n] = 1 
print (dict)

Enter a String:shakti
{'s': 1, 'h': 1, 'a': 1, 'k': 1, 't': 1, 'i': 1}

In [ ]:
v=[1,2,3,"Hello"]
s=(1,2,3,4,"Hello World")
print(type(v))
print(type(s))
print(v,s)

<class 'list'>
<class 'tuple'>
[1, 2, 3, 'Hello'] (1, 2, 3, 4, 'Hello World')

In [ ]:
v=list(input())
for i in range (len(v)):
               print(v[i])
print(v)

123
1
2
3
['1', '2', '3']

In [ ]:
str = input ("Enter the Word :- ")
if str [ : 2] == "0!":
    for i in range (len(str)) :
        print (str[i])
else :
    print ("Please enter again ")

Enter the Word :- python
Please enter again

In [ ]:
str = input ("Enter the Word :- ")
for i in range (-1, -len(str) - 1, -1) :
    print (str[i])

Enter the Word :- python
n
o
h
t
y
p

In [ ]:
str = input ("Enter the Word :- ")
newstr = str[-1 : : -1]
print (newstr)

Enter the Word :- python
nohtyp

In [ ]:
str = input ("Enter the Word :- ")
letter = input ("Enter a letter to count :- ") 
count = 0
for i in str :
    if i == letter :
        count += 1
print ("Number of letter :- ", count )

Enter the Word :- python
Enter a letter to count :- h
Number of letter :-  1

In [ ]:
dic = {'Path' : "2003",
       'Computer' : "9834",
       'Python' : "1990",
       'Mysql' : "2001",
       'html' : "1999" }

username = input("Enter username :- ")

if username in dic :
    password = input("Enter password :- ")
    if dic[username] == password :
        print ("You are now logged into the system.")
    else :
        print ("Invalid password.")
else :
    print ("You are not valid user.")

Enter username :- Path
Enter password :- 2003
You are now logged into the system.

In [ ]:
subject_marks = [('Discrete Maths', 93), ('Python Programming', 95), ('Environmental Science', 88), ('Engineering Physics', 83)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('Discrete Maths', 93), ('Python Programming', 95), ('Environmental Science', 88), ('Engineering Physics', 83)]

Sorting the List of Tuples:
[('Engineering Physics', 83), ('Environmental Science', 88), ('Discrete Maths', 93), ('Python Programming', 95)]

In [ ]:
tup = eval(input("Enter a tuple :- "))
index = 0
while index < len(tup):
    new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
    print (new, end = " ")
    index += 1

Enter a tuple :- "the", "quick", "brown", "fox"
hetay uickqay rownbay oxfay

In [ ]:
tup = eval(input("Enter a tuple :- "))
index = 0
while index < len(tup):
    new = tup[ index ][ -3 ] + tup[ index ][0 : -3 ] 
    print (new, end = " ")
    index += 1

Enter a tuple :- "the", "quick", "brown", "fox"
t iqu obr f