<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment-1

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:39
39

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string:kinal
kinal

str

In [ ]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:3.14
3.14

float

Experiment-2

In [ ]:
x1 = float(input("Give value of x1 :"))
x2 = float(input("Give value of x2 :"))
y1 = float(input("Give value of y1 :"))
y2 = float(input("Give value of y2 :"))

dist=(x1-y1**2)+(y1-y2**2)
print("your answer",dist)

Give value of x1 :34
Give value of x2 :23
Give value of y1 :56
Give value of y2 :12
your answer -3190.0

Experiment-3

In [ ]:
my_lists=["Kinal","Suthar"]
print(my_lists)

['Kinal', 'Suthar']

In [ ]:
my_tuple=("Kinal","Suthar")
print(my_tuple)

('Kinal', 'Suthar')

In [ ]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kinal
Suthar
Kinal
Suthar

Experiment-4(a)

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num, " is even")
else:
   print(num, " is odd")

Enter a number: 23
23  is odd

Experiment-4(b)

In [ ]:
num=input("Enter number:")
n=list(num)

len_num=len(n)
sum=0
for i in range(len_num):
    sum+=pow(int(n[i]),len_num)

if(int(num)==sum):
    print("It is armstrong")
else:
    print("It is not armstrong")

Enter number:345
It is not armstrong

Experiment-5

In [ ]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

Experiment-6

In [ ]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:kinal
{'k': 1, 'i': 1, 'n': 1, 'a': 1, 'l': 1}

Experiment-7

In [ ]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [ ]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<600000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

257114

In [ ]:
l=[1,2,3,4,5,6,9,4,3,6,7]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 6

In [ ]:
def encypt_func(txt, s):  
    result = ""  
  
  
# transverse the plain txt  
    for i in range(len(txt)):  
        char = txt[i]  
        # encypt_func uppercase characters in plain txt  
  
        if (char.isupper()):  
            result += chr((ord(char) + s - 64) % 26 + 65)  
        # encypt_func lowercase characters in plain txt  
        else:  
            result += chr((ord(char) + s - 96) % 26 + 97)  
    return result  
# check the above function  
txt = "CEASER CIPHER EXAMPLE"  
s = 4  
  
print("Plain txt : " + txt)  
print("Shift pattern : " + str(s))  
print("Cipher: " + encypt_func(txt, s))

Plain txt : CEASER CIPHER EXAMPLE
Shift pattern : 4
Cipher: HJFXJWsHNUMJWsJCFRUQJ

In [5]:
input("enter a string")
string="kinal"
print(string.lower())

enter a string kinal
kinal

In [6]:
input("enter a string")
string="kinal"
print(string.upper())

enter a stringkinal
KINAL

In [12]:

str1="kinal"
str2= "suthar"
print ("string1",str1)
print("string2",str2)
str1+str2

string1 kinal
string2 suthar

'kinalsuthar'