<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/VISHWA_21BTAI45/python_lab_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
a='hi'
print(type(a))
a=12.5
print(type(a))
a=12
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [8]:
a=int(input("the value of first side: "))
b=int(input("the value of second side: "))
c=(a*a+b*b)
print("the answer is: ",c)

the value of first side: 3
the value of second side: 4
the answer is:  25

In [9]:
import math
x1= float(input("enter x1:"))
y1= float(input("enter y1:"))
x2= float(input("enter x2:"))
y2= float(input("enter y2:"))

distance=math.sqrt( ((x1-x2)**2)+((y1-y2)**2) )
print("the distance is : ",distance)

enter x1:1
enter y1:1
enter x2:2
enter y2:2
the distance is :  1.4142135623730951

In [10]:
num=int(input("enter the number: "))
if(num%2)==0:
  print("the number is even")
else:
  print("yje number is odd")

enter the number: 3
yje number is odd

In [15]:
num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [16]:
a=int(input("enter the number: "))
while(a>=0):
  print(a)
  a=a-1

enter the number: 4
4
3
2
1
0

In [18]:
str=input("enter a string")
dict={}
for n in str:
  keys=dict.keys()
  if n in keys:
    dict [n]+=1
  else:
    dict[n]=1
print(dict)

enter a stringvishwa
{'v': 1, 'i': 1, 's': 1, 'h': 1, 'w': 1, 'a': 1}