<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/VISHWA_21BTAI45/python_lab_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a='hi'
print(type(a))
a=12.5
print(type(a))
a=12
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
a=int(input("the value of first side: "))
b=int(input("the value of second side: "))
c=(a*a+b*b)
print("the answer is: ",c)

the value of first side: 3
the value of second side: 4
the answer is:  25

In [ ]:
import math
x1= float(input("enter x1:"))
y1= float(input("enter y1:"))
x2= float(input("enter x2:"))
y2= float(input("enter y2:"))

distance=math.sqrt( ((x1-x2)**2)+((y1-y2)**2) )
print("the distance is : ",distance)

enter x1:1
enter y1:1
enter x2:2
enter y2:2
the distance is :  1.4142135623730951

In [ ]:
num=int(input("enter the number: "))
if(num%2)==0:
  print("the number is even")
else:
  print("yje number is odd")

enter the number: 3
yje number is odd

In [ ]:
num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [ ]:
a=int(input("enter the number: "))
while(a>=0):
  print(a)
  a=a-1

enter the number: 4
4
3
2
1
0

In [ ]:
str=input("enter a string")
dict={}
for n in str:
  keys=dict.keys()
  if n in keys:
    dict [n]+=1
  else:
    dict[n]=1
print(dict)

enter a stringvishwa
{'v': 1, 'i': 1, 's': 1, 'h': 1, 'w': 1, 'a': 1}

In [ ]:
set={1,2,3}
print(set)

{1, 2, 3}

In [ ]:
def remove_and_split(string, word):
  newstr=string.replace(word,"")
  return newstr.strip()

string="hello"
remove_and_split=string
print("str" +remove_and_split)

strhello

In [ ]:
set1={1,2,3,4}
set2={3,4,5,6}
print(set1.union(set2))
print(set1.difference(set2))
print(set1.difference_update(set2))
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))
print(set1.intersection_update(set2))

{1, 2, 3, 4, 5, 6}
{1, 2}
None
{1, 2, 3, 4, 5, 6}
None
None

In [ ]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
if set.isdisjoint(set2):
  print("two sets have no items in common")
else:
  print("two sets have items in common")
  print(set1.intersection(set2))

two sets have items in common
{3, 4, 5}

In [ ]:
l=[1,2,3,"hello"]
t=(1,2,3,4,"hii")
print(type(l))
print(type(t))
print(l,t)

<class 'list'>
<class 'tuple'>
[1, 2, 3, 'hello'] (1, 2, 3, 4, 'hii')

In [ ]:
l=list(input())
for i in range(len(l)):
  print(l[i])
print(l)

hello
h
e
l
l
o
['h', 'e', 'l', 'l', 'o']

In [ ]:
#(i)
str = input ("Enter the Word :- ")
if str [ : 2] == "0!":
    for i in range (len(str)) :
        print (str[i])
else :
    print ("Please enter again ")
    
#(ii)
str = input ("Enter the Word :- ")
for i in range (-1, -len(str) - 1, -1) :
    print (str[i])

#(iii)
str = input ("Enter the Word :- ")
newstr = str[-1 : : -1]
print (newstr)

#(iv)
str = input ("Enter the Word :- ")
letter = input ("Enter a letter to count :- ") 
count = 0
for i in str :
    if i == letter :
        count += 1
print ("Number of letter :- ", count )

Enter the Word :- python
Please enter again
Enter the Word :- python
n
o
h
t
y
p
Enter the Word :- maths
shtam
Enter the Word :- science
Enter a letter to count :- e
Number of letter :-  2

In [ ]:
dic = {'Path' : "2003",
       'walla' : "1809",
       'Portal' : "1912",
       'Express' : "2003",
       'Computer' : "9834",
       'Python' : "1990",
       'Mysql' : "2001",
       'c++' : "1996",
       'java' : "1998",
       'html' : "1999" }

username = input("Enter username :- ")

if username in dic :
    password = input("Enter password :- ")
    if dic[username] == password :
        print ("You are now logged into the system.")
    else :
        print ("Invalid password.")
else :
    print ("You are not valid user.")

Enter username :- java
Enter password :- 1998
You are now logged into the system.

In [ ]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [ ]:
tup = eval(input("Enter a tuple :- "))
index = 0
while index < len(tup):
    new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
    print (new, end = " ")
    index += 1

Enter a tuple :- "the","fox"
hetay oxfay

In [ ]:
tup = eval(input("Enter a tuple :- "))
index = 0
while index < len(tup):
    new = tup[ index ][ -3 ] + tup[ index ][0 : -3 ] 
    print (new, end = " ")
    index += 1

Enter a tuple :- "the","animal"
t mani

In [1]:
def linear_Search(list1, n, key):  
  
    # Searching list1 sequentially  
    for i in range(0, n):  
        if (list1[i] == key):  
            return i  
    return -1  
  
  
list1 = [1 ,3, 5, 4, 7, 9]  
key = 7  
  
n = len(list1)  
res = linear_Search(list1, n, key)  
if(res == -1):  
    print("Element not found")  
else:  
    print("Element found at index: ", res)

Element found at index:  4

In [2]:
def binary_searchiter(arr, n):
    low = 0
    high = len(arr) - 1
    mid = 0
    while low <= high:
        mid = (high + low) // 2
        if arr[mid] < n:
            low = mid + 1
        elif arr[mid] > n:
            high = mid - 1
        else: 
            return mid
    return -1
arr = [4, 7, 9, 16, 20, 25]
n = 7
r = binary_searchiter(arr, n)
if r != -1:
    print("Element found at index", str(r))
else: 
    print("Element is not present in array")

Element found at index 1

In [3]:
def recur_fibo(n):  
   if n <= 1:  
       return n  
   else:  
       return(recur_fibo(n-1) + recur_fibo(n-2))  

nterms = int(input("How many terms? "))  

if nterms <= 0:  
   print("Plese enter a positive integer")  
else:  
   print("Fibonacci sequence:")  
   for i in range(nterms):  
       print(recur_fibo(i))

How many terms? 12
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89

In [4]:
def insertionSort(arr):
 
    for i in range(1, len(arr)):
 
        key = arr[i]
        j = i-1
        while j >= 0 and key < arr[j] :
                arr[j + 1] = arr[j]
                j -= 1
        arr[j + 1] = key
arr = [12, 11, 13, 5, 6]
insertionSort(arr)
for i in range(len(arr)):
    print ("% d" % arr[i])

 5
 6
 11
 12
 13

In [5]:
def mergeSort(arr):
    if len(arr) > 1:
  
        mid = len(arr)//2
        L = arr[:mid]
        R = arr[mid:]
        mergeSort(L)
        mergeSort(R)
  
        i = j = k = 0
        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1
        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1
  
        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
 
def printList(arr):
    for i in range(len(arr)):
        print(arr[i], end=" ")
    print()
  
if __name__ == '__main__':
    arr = [12, 11, 13, 5, 6, 7]
    print("Given array is", end="\n")
    printList(arr)
    mergeSort(arr)
    print("Sorted array is: ", end="\n")
    printList(arr)

Given array is
12 11 13 5 6 7
Sorted array is:
5 6 7 11 12 13