<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/VISHWA_21BTAI45/python_lab_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a='hi'
print(type(a))
a=12.5
print(type(a))
a=12
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>

In [ ]:
a=int(input("the value of first side: "))
b=int(input("the value of second side: "))
c=(a*a+b*b)
print("the answer is: ",c)

the value of first side: 3
the value of second side: 4
the answer is:  25

In [ ]:
import math
x1= float(input("enter x1:"))
y1= float(input("enter y1:"))
x2= float(input("enter x2:"))
y2= float(input("enter y2:"))

distance=math.sqrt( ((x1-x2)**2)+((y1-y2)**2) )
print("the distance is : ",distance)

enter x1:1
enter y1:1
enter x2:2
enter y2:2
the distance is :  1.4142135623730951

In [ ]:
num=int(input("enter the number: "))
if(num%2)==0:
  print("the number is even")
else:
  print("yje number is odd")

enter the number: 3
yje number is odd

In [ ]:
num = int(input("Enter a number: "))
order = len(str(num))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** order
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [ ]:
a=int(input("enter the number: "))
while(a>=0):
  print(a)
  a=a-1

enter the number: 4
4
3
2
1
0

In [ ]:
str=input("enter a string")
dict={}
for n in str:
  keys=dict.keys()
  if n in keys:
    dict [n]+=1
  else:
    dict[n]=1
print(dict)

enter a stringvishwa
{'v': 1, 'i': 1, 's': 1, 'h': 1, 'w': 1, 'a': 1}

In [ ]:
set={1,2,3}
print(set)

{1, 2, 3}

In [ ]:
def remove_and_split(string, word):
  newstr=string.replace(word,"")
  return newstr.strip()

string="hello"
remove_and_split=string
print("str" +remove_and_split)

strhello

In [ ]:
set1={1,2,3,4}
set2={3,4,5,6}
print(set1.union(set2))
print(set1.difference(set2))
print(set1.difference_update(set2))
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))
print(set1.intersection_update(set2))

{1, 2, 3, 4, 5, 6}
{1, 2}
None
{1, 2, 3, 4, 5, 6}
None
None

In [ ]:
set1={1,2,3,4,5}
set2={3,4,5,6,7}
if set.isdisjoint(set2):
  print("two sets have no items in common")
else:
  print("two sets have items in common")
  print(set1.intersection(set2))

two sets have items in common
{3, 4, 5}

In [ ]:
l=[1,2,3,"hello"]
t=(1,2,3,4,"hii")
print(type(l))
print(type(t))
print(l,t)

<class 'list'>
<class 'tuple'>
[1, 2, 3, 'hello'] (1, 2, 3, 4, 'hii')

In [ ]:
l=list(input())
for i in range(len(l)):
  print(l[i])
print(l)

hello
h
e
l
l
o
['h', 'e', 'l', 'l', 'o']