<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/KUNJAN_21BTAI23/COLLEGE_NOTEBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXPERIMENT 1

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:5
5

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string:Kunjan
Kunjan

str

In [ ]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:22.3
22.3

float

EXPEIMENT 2

In [ ]:
import math
x1=int(input("enter the value of x1:"))
x2=int(input("enter the value of x2:"))
y1=int(input("enter the value of y1:"))
y2=int(input("enter the value of y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print('The distance between two points is:',d)

enter the value of x1:4
enter the value of x2:5
enter the value of y1:6
enter the value of y2:7
The distance between two points is: 1.4142135623730951

EXPERIMENT 3(A)

In [ ]:
x=int(input("Enter a number:"))
if x%2==0:
  print('x is an even number')
else :
  print('x is an odd number')

Enter a number:5
x is an odd number

EXPERIMENT 3(B)

In [ ]:
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
      print(num,"is an armstrong number")
else:
  print(num,"is a not armstrong number")

enter the number:153
153 is an armstrong number

EXPERIMENT 4

In [ ]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

EXPERIMENT 5

In [ ]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:GET LOST
{'G': 1, 'E': 1, 'T': 2, ' ': 1, 'L': 1, 'O': 1, 'S': 1}

EXPERIMENT 6

In [ ]:
my_lists=["Kunjan","Manish","Parikh"]
print(my_lists)

['Kunjan', 'Manish', 'Parikh']

In [ ]:
my_tuple=("Kunjan","Manish","Parikh")
print(my_tuple)

('Kunjan', 'Manish', 'Parikh')

In [ ]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kunjan
Manish
Parikh
Kunjan
Manish
Parikh

EXPERIMENT 7

In [4]:
st=input("enter a string:")
for i in st:
  print(i)
for i in st[::-1] :
  print(i)
st2=st[::-1]
print(st2)
count=0
ch=input("Enter the letter to count")
for i in st:
  if i==ch:
    count+=1
print("{} appears {} times".format(ch,count))

enter a string:Kunjan
K
u
n
j
a
n
n
a
j
n
u
K
najnuK
Enter the letter to countK
K appears 1 times

EXPERIMENT 8

In [5]:
def mean(l):
  return sum(l)/len(l)
def median(l):
  l.sort()
  le=len(l)
  if le%2==0:
    return l[le//2-l],l[le//2]
  return l[le//2]
def mode(l):
  count=0
  el=None
  for i in l:
    if l.count(i)>count:
      el=i
      count=l.count(i)
    return el
def range(l):
  return max(l)-min(l)
lst=[1,3,54,43,44,75,12,96,10]
print(mean(lst))
print(median(lst))
print(mode(lst))
print(range(lst))

37.55555555555556
43
1
95

EXPERIMENT 9

In [6]:
def passdict(dct):
  uname=input("Enter your username: ")
  if uname in dct:
    pwd=input("Enter your password: ")
    if dct[uname]==pwd:
      return "You are now logged into the system."
    return "Invalid password."
  return "Invalid username." 
passdict({'Path' : "2003",
       'walla' : "1809",
       'Portal' : "1912",
       'Express' : "2003",
       'Computer' : "9834",
       'Python' : "1990",
       'Mysql' : "2001",
       'c++' : "1996",
       'java' : "1998",
       'html' : "1999" })

Enter your username: Path
Enter your password: 2003

'You are now logged into the system.'

EXPERIMENT 10

In [7]:
def tptoint(tple):
  return int("".join(map(str,tple)))
print(tptoint((1,2,3,4)))

1234

EXPERIMENT 11

In [8]:
sortlst=lambda lst: sorted(lst,key=lambda x:x[1])
print(sortlst([('Discrete Mathematics', 93), ('Python Programming', 95), ('Environmental Science', 88), ('Engineering Physics', 83)]))

[('Engineering Physics', 83), ('Environmental Science', 88), ('Discrete Mathematics', 93), ('Python Programming', 95)]

EXPERIMENT 12

In [9]:
t=("The","quick","brown","fox")
e=""
for i in t:
  e+=i[1:].title()+i[0].lower()+"ay"
e=e.rstrip()
print("Encoded Message:",e)
l=e.split()
d=""
for i in l:
  a=i.strip("ay")
  d+=a[-1].upper()+a[:-1].lower()+""
d=d.rstrip()
print("Decoded Message:",d)

Encoded Message: HetayUickqayRownbayOxfay
Decoded Message: Fhetayuickqayrownbayox

EXPERIMENT 13

In [1]:
def fibonacci(n):
    if(n <= 1):
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Enter number of terms:4
Fibonacci sequence:
0
1
1
2

EXPERIMENT 14

In [2]:
def linearSearch(lst,item):
  for i in range(len(lst)):
    if lst[i]==item:
      return f"The element {item} is at index {i}"    #returns index of item
  return -1    #if item is not in the list
def binarySearch(lst,item):
  lst.sort()
  print("The sorted list is:",lst)
  low,high=0,len(lst)-1
  while low<=high:
    mid=(low+high)//2
    mid_element=lst[mid]
    if mid_element==item:
      return f"The element {item} is at index {mid}"    #return index of middle element
    if mid_element<item:
      low=mid+1    #discarding the right part of the list because item is greater than middle element
    elif mid_element>item:
      high=mid-1    #discarding the left part of the list becasue item is smaller then middle element
    return -1
ls=[]
n=int(input("Enter the number of elements: "))
print("Enter the elements: ")
for i in range(n):
  ls.append(int(input()))
print("Your list is: ",ls)
it=int(input("Enter item to search: "))
ch=int(input("Enter 0 for linear search and 1 for binary search: "))
if ch==0:
  print(linearSearch(ls,it))
else:
  print(binarySearch(ls,it))

Enter the number of elements: 4
Enter the elements:
1234
123
12
1
Your list is:  [1234, 123, 12, 1]
Enter item to search: 123
Enter 0 for linear search and 1 for binary search: 0
The element 123 is at index 1

EXPERIMENT 15

In [3]:
def mergeSort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        L = arr[:mid]
        R = arr[mid:]
        mergeSort(L)
        mergeSort(R)
        i = j = k = 0

        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1

        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1

        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
    return arr

arr = [12, 11, 13, 5, 6, 7]
print(f"\nSorted List By MergeSort is\n{mergeSort(arr)}")



#implementation of selection sort
arrr = [12, 11, 13, 5, 6, 7]
def selectionSort(arr):
    for i in range(len(arr)):
        min_idx = i
        for j in range(i + 1, len(arr)):
            if arr[min_idx] > arr[j]:
                min_idx = j
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr
print(f"\nSorted List By SelectionSort is\n{selectionSort(arrr)}")



#implementation of insertion sort
def insertionSort(array):
    for step in range(1, len(array)):
        key = array[step]
        j = step - 1
        while j >= 0 and key < array[j]:
            array[j + 1] = array[j]
            j = j - 1
        array[j + 1] = key
    return array

data = [12, 11, 13, 5, 6, 7]
print(f'\nSorted List By InsertionSort is\n{insertionSort(data)}')

Sorted List By MergeSort is
[5, 6, 7, 11, 12, 13]

Sorted List By SelectionSort is
[5, 6, 7, 11, 12, 13]

Sorted List By InsertionSort is
[5, 6, 7, 11, 12, 13]