<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/KUNJAN_21BTAI23/COLLEGE_NOTEBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*####EXPERIMENT 1####*

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:5
5

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string:Kunjan
Kunjan

str

In [ ]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:22.3
22.3

float

*####EXPEIMENT 2####*

In [1]:
import math
x1=int(input("enter the value of x1:"))
x2=int(input("enter the value of x2:"))
y1=int(input("enter the value of y1:"))
y2=int(input("enter the value of y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print('The distance between two points is:',d)

enter the value of x1:4
enter the value of x2:5
enter the value of y1:6
enter the value of y2:7
The distance between two points is: 1.4142135623730951

*####EXPEIMENT 3(A)####*

In [2]:
x=int(input("Enter a number:"))
if x%2==0:
  print('x is an even number')
else :
  print('x is an odd number')

Enter a number:5
x is an odd number

*####EXPERIMENT 3(B)####*

In [3]:
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
      print(num,"is an armstrong number")
else:
  print(num,"is a not armstrong number")

enter the number:153
153 is an armstrong number

*####EXPERIMENT 4####*

In [4]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

*####EXPERIMENT 5####*

In [5]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:GET LOST
{'G': 1, 'E': 1, 'T': 2, ' ': 1, 'L': 1, 'O': 1, 'S': 1}

*####EXPERIMENT 6####*

In [6]:
my_lists=["Kunjan","Manish","Parikh"]
print(my_lists)

['Kunjan', 'Manish', 'Parikh']

In [7]:
my_tuple=("Kunjan","Manish","Parikh")
print(my_tuple)

('Kunjan', 'Manish', 'Parikh')

In [8]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kunjan
Manish
Parikh
Kunjan
Manish
Parikh

*####EXPERIMENT 7####*

In [12]:
import sympy
sum=0
for i in range(0,2000001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

142913828922

In [14]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<4000000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

4613732

*####EXPERIMENT 8####*

In [13]:
l=[1,2,3,4,5,2,3,4,7,9,5]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

2 3 4 5

In [ ]:
GGHFHGFOAHFHHAUGHAUGFHFUG