<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/JEEL_21BTAI26/Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program : 1

In [ ]:
a = 10
print(type(a))

<class 'int'>

In [ ]:
b = 2.13
print(type(b))

<class 'float'>

In [ ]:
c = 5 + 6j
print(type(c))

<class 'complex'>

In [ ]:
d = ("Hello")
print(type(d))

<class 'str'>

In [ ]:
e = ["Jeel","Patel"]
print(type(e))

<class 'list'>

In [ ]:
f = {"Hello","World"}
print(type(f))

<class 'set'>

In [ ]:
g = dict(Name = "Jeel",Surname = "Patel")
print(type(g))

<class 'dict'>

In [ ]:
i = True
print(type(i))

<class 'bool'>

In [ ]:
j = False
print(type(j))

<class 'bool'>

In [ ]:
v = tuple(("Hiii"))
print(type(v))

<class 'tuple'>

In [ ]:
k = {'bye',12}
print(type(k))

<class 'set'>

Program : 2

In [7]:
x1 = int(input("Enter x1 : "))
y1 = int(input("Enter y1 : "))
x2 = int(input("Enter x2 : "))
y2 = int(input("Enter y2: "))

result = ((((x2 - x1)**2) + ((y2 - y1)**2))**0.5)
#result = math.sqrt((x1 - x2)**2 + (y1 - y2)**2)

print("distance between",(x1,y1),"and",(x2,y2),"is : ",result)

Enter x1 : 5
Enter y1 : 6
Enter x2 : 2
Enter y2: 3
distance between (5, 6) and (2, 3) is :  4.242640687119285

Program : 3

In [5]:
num = int(input("Enter any numbers to test whether it is odd or even : "))

if(num % 2) == 0:
  print("The number is even")

else:
  print("The number is odd")

Enter any numbers to test whether it is odd or even : 5
The number is odd

In [4]:
n = int(input("Enter a number : "))

s = 0
t = n
while t > 0:
  digit = t % 10
  s += digit ** 3
  t //= 10

if n == s:
  print(n,"is an Armstrong number")

else:
  print(n,"is not an Armstrong number")

Enter a number : 123
123 is not an Armstrong number

Program : 4

In [3]:
a = int(input("Enter the Number : "))
i = 0
while i<=a:
  print(i)
  i = i + 1

Enter the Number : 6
0
1
2
3
4
5
6

Program : 5

In [2]:
a = str(input("Enter a string : "))
b = { }
for i in a:
  b[i] = a.count(i)
print(b)

Enter a string : jeel
{'j': 1, 'e': 2, 'l': 1}

Program : 6

In [1]:
list = ["Jeel","Patel"]
print(list)

tuple = ("Khushi","Patel")
print(tuple)

for i in list:
  print(i)
for i in tuple:
  print(i)

['Jeel', 'Patel']
('Khushi', 'Patel')
Jeel
Patel
Khushi
Patel