<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/Krishna_21BTAI27/COLLEGE_PYTHON-LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
var1 = 'this is a string'
var2 = {3,5,3,6,21}
var3 = 3.0
var4 = [1,'hello',54,'23']
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'set'>
<class 'float'>
<class 'list'>

In [14]:
number=(list(map(int,input().split())))
length_num=len(number)
l1=list()
l2=list()
for i in range(length_num):
	if(number[i]%2==0):
	  l1.append(number[i])
	else:
	        l2.append(number[i])
	print("The even number are {} \nThe odd number are {}".format(l1,l2))

2
The even number are [2]
The odd number are []

In [16]:
num=input('Enter number:')
n=list(num)
	

len_num=len(n)
sum=0
for i in range(len_num):
	    sum+=pow(int(n[i]),len_num)
	

if(int(num)==sum):
	    print("It is armstrong")
else:
	    print("It is not armstrong")

Enter number:22
It is not armstrong

In [ ]:
def most_frequent(ch):
	    s = set(ch)
	    l = list(s)
	    d = {}
	    i,j = 0,0
	    while(i>=0 and i<len(l)):
	        j=0
	        count = 0 
	        while(j>=0 and j<len(ch)):
	            if l[i] == ch[j]:
	                count +=1
	            j+=1
	        d.update({l[i]:count})
	        i+=1
	    print(d)
most_frequent('Mississippi')

{'p': 2, 's': 4, 'i': 4, 'M': 1}

In [19]:
odd=[7,9,33,10]
odd.append(11)
odd.extend([13,15,17])
print(odd)

[7, 9, 33, 10, 11, 13, 15, 17]

In [20]:
p=str(input("enter a string"))
b={}
for i in p:
   b[i]=p.count(i)
print(b)

enter a stringhello there
{'h': 2, 'e': 3, 'l': 2, 'o': 1, ' ': 1, 't': 1, 'r': 1}

In [21]:
my_list=[4,["hello","world"],[3.4,8.1]]
print(my_list)
print(my_list[-2:-1])
my_list[1][0]="namaste"
print(my_list)

[4, ['hello', 'world'], [3.4, 8.1]]
[['hello', 'world']]
[4, ['namaste', 'world'], [3.4, 8.1]]