<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/SONIA_21BTAI15/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program 2

In [ ]:
cor = input().split()
x1=int(cor[0])
x2=int(cor[1])
y1=int(cor[2])
y2=int(cor[3])
a=(x2-x1)**2
b=(y2-y1)**2
dist=(a+b)**0.5
print("distance between two points is: ",round(dist,3))

2 3 4 5
distance between two points is:  1.414

program 1

In [ ]:
var1 = 'this is a string'
var2 = 21
var3 = 3.0
var4 = [1,'hello',54,'23']
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>

program 3 (i) odd even

In [ ]:
a=int(input())
if a%2==0:
  print("given number is even")
else:
  print("given number is odd")

99
given number is odd

program 3 (ii) armstrong number

In [ ]:
count=0
sum=0
a=int(input())
n=a
while(n!=0):
  n//=10
  count+=1
n=a
for i in range (1,count+1):
  r=n%10
  sum+=(r**count)
  n//=10
if a==sum:
  print("armstong!")
else:
  print("not an armstrong")

9474
armstong!

repeated char in a string

In [ ]:
a=input().split()
b=set(a)
c=list(b)
leng=len(a)
leng1= len(b)
i=0
j=0
while(i>=0 and i<leng1):
  c1=0
  while(i>=0 and j<leng):
    if(c[i]==a[j]):
      c1+=1
    j+=1
  if(c!=0):
    print("the {} is repeated {} times in the string")

prime number

In [ ]:
n=int(input())
if n>1:
  for i in range(2,int(n/2)+1):
    if(n%i==0):
      print(n,"not a prime no.!")
      
    else:
      print(n,"no. is prime!")
      break
else:
  print(n,"no. is not prime")

5
5 no. is prime!