<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/VANSH_21BTAI48/college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter a integer : "))
b=input("enter a string : ")
c=float(input("enter a number(float) : "))

print(a,"\t",b,"\t",c)

print(type(a))
print(type(b))
print(type(c))

enter a integer : 6
enter a string : mnbj
enter a number(float) : 8.9
6 	 mnbj 	 8.9
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
mport math
x1=int(input("enter x1 : "))
y1=int(input("enter y1 : "))
x2=int(input("enter x2 : "))
y2=int(input("enter y2 : "))

ans= math.sqrt((x2-x1)**2 + (y2-y1)**2 )

print(ans)

In [ ]:
x=int(input("enter a number. : "))

if(x%2==0):
  print("x is even")
else:
  print("x is odd")

In [ ]:
x=input("enter a number: ")
a=False
for i in x:
  if not(48<=ord(i)<=57):
    print("not a number ")
    a=False
    break
  else:
    a=True
if a==True:
  x=int(x)
  n1=n2=x
  sum=count=0
  while n1!=0:
    n1//=10
    count+=1
  while n2!=0:
    b=n2%10
    sum+=pow(b,count)
    n2//=10
  if x==sum:
    print("armstrong number!")
  else:
    print("not an armstrong number sed :(")

enter a number: sjncdjin
not a number

In [ ]:
i=int(input())


while i!=-1:
  print(i)
  i=i-1

In [ ]:
a="Enter a string"
b={}
for i in a:
  b[i]=a.count(i)
print(b)

In [ ]:
lists=["vansh","hello","bye"]
print(lists)

['vansh', 'hello', 'bye']

In [ ]:
tuple=("vansh","hello","bye")
print(tuple)

('vansh', 'hello', 'bye')

In [ ]:
for v in lists:
  print(v)
for v in tuple:
  print(v)

vansh
hello
bye
vansh
hello
bye

In [ ]:
import random
letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

numbers = ['0','1','2','3','4','5','6','7','8','9']

characters= ['!','@','#','$','%','$','%','&','*','~']

n_letters = int(input("enter the number of letters you want : "))
n_numbers = int(input("enter the number of numbers you want : "))
n_characters = int(input("enter the number of characters you want : "))

pas=[]

for i in range (0,n_letters):
  pas.append(random.choice(letters))
for i in range (0,n_numbers):
  pas.append(random.choice(numbers))  
for i in range (0,n_characters):
  pas.append(random.choice(characters))

random.shuffle(pas)
pasf="".join(pas)
print(pasf)

enter the number of letters you want : 1
enter the number of numbers you want : 1
enter the number of characters you want : 1
R#9

In [ ]:
#reverse a list

li = [100,200,300,400,500]
li.reverse()
print(li)

[500, 400, 300, 200, 100]

In [ ]:
l1= ["M","Na","i","ke"]
l2 = ["y","me","s","liy"]
l3=[]

for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
     

print(l3)

['My', 'Name', 'is', 'keliy']

In [ ]:
lis=[1,2,3,4,5,6,7]

lis2 = []

for i in range(len(lis)):

  lis2.append(lis[i]*lis[i])

print(lis2)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
li1= ["hello","take"]
li2 = ["dear","sir"]
li3=[]

for i in range(len(li1)):
    li3.append(li1[i]+" "+li2[i])
    if i != j:
       for j in range(len(li1)):
           li3.append(li1[j]+" "+li2[i])
    else:
       pass

     

print(li3)

['hello dear', 'hello dear', 'take dear', 'take sir']