<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/VANSH_21BTAI48/college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=int(input("enter a integer : "))
b=input("enter a string : ")
c=float(input("enter a number(float) : "))

print(a,"\t",b,"\t",c)

print(type(a))
print(type(b))
print(type(c))

enter a integer : 6
enter a string : mnbj
enter a number(float) : 8.9
6 	 mnbj 	 8.9
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
mport math
x1=int(input("enter x1 : "))
y1=int(input("enter y1 : "))
x2=int(input("enter x2 : "))
y2=int(input("enter y2 : "))

ans= math.sqrt((x2-x1)**2 + (y2-y1)**2 )

print(ans)

In [ ]:
x=int(input("enter a number. : "))

if(x%2==0):
  print("x is even")
else:
  print("x is odd")

In [ ]:
x=input("enter a number: ")
a=False
for i in x:
  if not(48<=ord(i)<=57):
    print("not a number ")
    a=False
    break
  else:
    a=True
if a==True:
  x=int(x)
  n1=n2=x
  sum=count=0
  while n1!=0:
    n1//=10
    count+=1
  while n2!=0:
    b=n2%10
    sum+=pow(b,count)
    n2//=10
  if x==sum:
    print("armstrong number!")
  else:
    print("not an armstrong number sed :(")

In [ ]:
i=int(input())


while i!=-1:
  print(i)
  i=i-1

In [ ]:
a="Enter a string"
b={}
for i in a:
  b[i]=a.count(i)
print(b)

In [ ]:
lists=["vansh","hello","bye"]
print(lists)

In [ ]:
tuple=("vansh","hello","bye")
print(tuple)

In [ ]:
for v in lists:
  print(v)
for v in tuple:
  print(v)