<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/JAYMINTANNA_21BTAI42/experiments1_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#experiment 1
print('This is Python!!!')

This is Python!!!

In [ ]:
var1=14
print(var1)

14

In [ ]:
a='HI'
print(type(a))

<class 'str'>

In [ ]:
a=12.5
print(type(a))

<class 'float'>

In [ ]:
a=1+2j
print(type(a))

<class 'complex'>

In [ ]:
a=True
print(type(a))

<class 'bool'>

In [ ]:
print(9/4)
print(9//4)
print(9*4)
print(9**4)
print(9+4)
print(9-5)
print(9%4)

2.25
2
36
6561
13
4
1

In [ ]:
a=10
b=20
print(a,b)

10 20

In [ ]:
print(a>b)
print(a==b)
x,y=5,5
print(x==y)
print(x!=y)

False
False
True
False

In [ ]:
a=True
b=False
print(a|b)
print(a&b)
print(a or b)
print(a and b)

True
False
True
False

In [ ]:
my_string="My name is Jaymin"
print(my_string)
print(type(my_string))

My name is Jaymin
<class 'str'>

In [ ]:
print(my_string[-2])

i

In [ ]:
string="Hello"
print(len(string))
print(string.lower())
print(string.upper())
string='heya'
print(string.replace('y','a'))
string='hello ladies hello gentlemen hello everyone'
print(string.count("hello"))
string="hi how are you?"
print(string.find("are"))

5
hello
HELLO
heaa
3
7

In [ ]:
#experiment 2
import math
x1=int(input("Enter first x coordinate: "))
x2=int(input("Enter second x coordinate: "))
y1=int(input("Enter first y coordinate: "))
y2=int(input("Enter second y coordinate: "))
man_dist=abs((x2-x1)+(y2-y1))
euc_dist=math.sqrt((pow((x2-x1),2))+(pow((y2-y1),2)))
print("The manhattan distance is:",man_dist,"\nThe euclidean distance is:",euc_dist)

In [ ]:
#experiment 3
x=input("Enter a number: ")
for i in x:
  if not(48<=ord(i)<=57):
    a=False
    break
  else:
    a=True
if a == True:
  if int(x)%2==0:
    print("Even number!")
  else:
    print("Odd number!")
else:
  print("Not a number!")

In [ ]:
#Armstrong number
n=int(input("Enter a number to check: "))
n1=n
n2=n
count=0
sum=0
while n1!=0:
  n1//=10
  count+=1
while n2!=0:
  b=n2%10
  sum+=pow(b,count)
  n2//=10
if n==sum:
  print("Armstrong number!")
else:
  print("Not an armstrong number!")

In [ ]:
x=input("Enter a number: ")
a=False
for i in x:
  if not(48<=ord(i)<=57):
    print("Not a number!")
    a=False
    break
  else:
    a=True
if a==True:
  x=int(x)
  n1=n2=x
  sum=count=0
  while n1!=0:
    n1//=10
    count+=1
  while n2!=0:
    b=n2%10
    sum+=pow(b,count)
    n2//=10
  if x==sum:
    print("Armstrong number!")
  else:
    print("Not an armstrong number!")

In [ ]:
#experiment 4
n=int(input("Enter a number: "))
while (n!=-1):
  print(n)
  n=n-1

In [ ]:
#experiment 5
str=input("enter string : ")
f={} 
for i in str: 
    if i in f: 
        f[i]+=1
    else: 
        f[i]=1
print(f)

In [ ]:
#experiment 6
lst1=[67,6748.74,"ghg"]  #this is a list
tpl1=(546.65,65,"hfg",'bye')  #this is a tuple
for i in lst1:
  print(i)
for i in tpl1:
  print(i)

In [ ]:
#experiment 7
st=input("Enter a string: ")
for i in st: 
  print(i)
for i in st[::-1]:
  print(i)
st2=st[::-1]
print(st2)
count=0
ch=input("Enter letter to count: ")
for i in st:
  if i==ch:
    count+=1
print("{} appears {} times".format(ch,count))

Enter a string: abc
a
b
c
c
b
a
cba
Enter letter to count: c
c appears 1 times

In [ ]:
#experiment 8
def mean(l):
  return sum(l)/len(l)
def median(l):
  l.sort()
  le=len(l)
  if le%2==0:
    return l[le//2-1],l[le//2]
  return l[le//2]
def mode(l):
  count=0
  el=None
  for i in l:
    if l.count(i)>count:
      el=i
      count=l.count(i)
  return el
def range_lst(l):
  return max(l)-min(l)
lst1=[1,424,32,46,34,5,345,3,46,546]
print(mean(lst1))
print(median(lst1))
print(mode(lst1))
print(range_lst(lst1))

148.2
(34, 46)
46
545

In [ ]:
#experiment 9
def passdict(dct):
  uname=input("Enter your username: ")
  if uname in dct:
    pwd=input("Enter your password: ")
    if dct[uname]==pwd:
      return "You are now logged into the system."
    return "Invalid password."
  return "Invalid username."

In [ ]:
#experiment 10
def tptoint(tple):
  return int("".join(map(str,tple)))
tpl=(1,3,4,56,56,4,33,5,34)
print(tptoint(tpl))

1345656433534

In [ ]:
#experiment 11
sortlst=lambda lst: sorted(lst,key=lambda x:x[1])
print(sortlst([('Discrete Mathematics', 93), ('Python Programming', 95), ('Environmental Science', 88), ('Engineering Physics', 83)]))

[('Engineering Physics', 83), ('Environmental Science', 88), ('Discrete Mathematics', 93), ('Python Programming', 95)]

In [ ]:
#experiment 12
def toplatin(lst):
  lst=list(lst)
  for k in range(len(lst)):
    if lst[k][0] in 'aeiou':
      lst[k]=lst[k]+'yay'
    elif set(lst[k]).isdisjoint(set("aeiou")):
      lst[k]=lst[k][-1]+lst[k][:-1]+'ay'
    else:
      has_vowel=False
      for j,letter in enumerate(lst[k]):
        if letter in 'aeiou':
          lst[k]=lst[k][j:]+lst[k][:j]+'ay'
          has_vowel=True
          break
  return tuple(lst)
def fromplatin(lst):
  lst=list(lst)
  for i in range(len(lst)):
    if lst[i][-3:]=="yay":
      lst[i]=lst[i][:-3]
    else:
      lst[i]=lst[i][:-2]
  return tuple(lst)
print(toplatin(("the", "quick","brown", "fox")))
print(fromplatin(('fthyay', 'kquicay', 'nbroway', 'xfoay')))

('ethay', 'uickqay', 'ownbray', 'oxfay')
('fth', 'kquic', 'nbrow', 'xfo')

In [ ]:
#experiment 13
def fibonacci(n):
  if n<=1:
    return n  
  return (fibonacci(n-1)+fibonacci(n-2))
print(fibonacci(7))

13

In [6]:
#experiment 14
def linearSearch(lst,item):
  for i in range(len(lst)):
    if lst[i]==item:
      return f"The element {item} is at index {i}"    #returns index of item
  return -1    #if item is not in the list
def binarySearch(lst,item):
  lst.sort()
  print("The sorted list is:",lst)
  low,high=0,len(lst)-1
  while low<=high:
    mid=(low+high)//2
    mid_element=lst[mid]
    if mid_element==item:
      return f"The element {item} is at index {mid}"    #return index of middle element
    if mid_element<item:
      low=mid+1    #discarding the right part of the list because item is greater than middle element
    elif mid_element>item:
      high=mid-1    #discarding the left part of the list becasue item is smaller then middle element
    return -1
ls=[]
n=int(input("Enter the number of elements: "))
print("Enter the elements: ")
for i in range(n):
  ls.append(int(input()))
print("Your list is: ",ls)
it=int(input("Enter item to search: "))
ch=int(input("Enter 0 for linear search and 1 for binary search: "))
if ch==0:
  print(linearSearch(ls,it))
else:
  print(binarySearch(ls,it))

Enter the number of elements: 4
Enter the elements:
3
6
2
8
Your list is:  [3, 6, 2, 8]
Enter item to search: 8
Enter 0 for linear search and 1 for binary search: 1
The sorted list is: [2, 3, 6, 8]
-1

In [7]:
7#experiment 15
#merge sort
def mergeSort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        L = arr[:mid]
        R = arr[mid:]
        mergeSort(L)
        mergeSort(R)
        i = j = k = 0

        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1

        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1

        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
    return arr
#selection sort
def selectionSort(arr):
    for i in range(len(arr)):
        min_idx = i
        for j in range(i + 1, len(arr)):
            if arr[min_idx] > arr[j]:
                min_idx = j
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr
#insertion sort
def insertionSort(arr):
    for step in range(1, len(arr)):
        key = arr[step]
        j = step - 1
        while j >= 0 and key < arr[j]:
            arr[j + 1] = arr[j]
            j = j - 1
        arr[j + 1] = key
    return arr
lst=[124,2353,45,457,67,45,6]
print(mergeSort(lst))
print(selectionSort(lst))
print(insertionSort(lst))

[6, 45, 45, 67, 124, 457, 2353]
[6, 45, 45, 67, 124, 457, 2353]
[6, 45, 45, 67, 124, 457, 2353]