<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/ARPIT_21BTAI46/COLLEGE_PYTHON_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON LAB PROGRAMME 1 EXP

In [ ]:
string="this is a string"
bool_exp=True
integer=3
list_exp=[2,3,4,5,"hello","yellow"]
set_exp={2,3,4,5,5,5,5,5,3,4,4}
dict_exp={"name":("Arpit","Akshat","Sonia"),"address":("sec-19","sec-21","sec-23"),"roll":("1BTAI12","21BTAI212","122BTAI21"),"phone":(98765467,97565435,987654676)}
frozen_set=({"hello","england","ohayo","japan","gotten_morgen","good morning germany"})
data_type=[string,bool_exp,integer,list_exp,set_exp,dict_exp,frozen_set]
for i in range(len(data_type)):
    print(type(data_type[i]))

<class 'str'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'set'>

PYTHON LAB PROGRAMME 2 EXP

In [ ]:
input_user=input().split()
cor_x1,cor_y1=int(input_user[0]),int(input_user[1])
cor_x2,cor_y2=int(input_user[2]),int(input_user[3])
a=abs(cor_x2-cor_x1)
b=abs(cor_y2-cor_y1)
result=(a+b)**(0.5)
print(round(result,5))

0 9 0 4
2.23607

PYTHON LAB PROGRAMME 3(b) EXP

In [ ]:
org_number=input()
number=list(map(int,org_number.rstrip()))
len_n=len(number)
sum_arm=0
for i in range(len_n):
    sum_arm+=pow(number[i],len_n)
if(int(org_number)==sum_arm):
    print("it is a armstrong")
else:
    print("number is not armstrong")

153
it is a armstrong

PYTHON LAB PROGRAMME 3(a)EXP

In [ ]:
number=(list(map(int,input().rstrip().split())))
len_n=len(number)
l1=list()
l2=list()
for i in range(len_n):
    if(number[i]%2==0):
        l1.append(number[i])
    else:
        l2.append(number[i])
print("THE EVEN NUMBER IS/ARE {} AND THE ODD NUMBER IS/ARE".format(l1,l2))

902840294890248 22429 0923 42903923 849824 982390 82423409 803240834890234 230 2423 04 8489 344 3 2889 4 03 032 2838943 23 94394 32 0342848 328032489324 24897348924 8324 242 4024 09 4094 02409 240923
THE EVEN NUMBER IS/ARE [902840294890248, 849824, 982390, 803240834890234, 230, 4, 344, 4, 32, 94394, 32, 342848, 328032489324, 24897348924, 8324, 242, 4024, 4094] AND THE ODD NUMBER IS/ARE

In [ ]:
string=list(input().replace(" ",''))
set_string=set(string)
new_list=list(set_string)
s_len=len(string)
s_new_len=len(new_list)
i=0
j=0
c_dict=dict()
while(i>=0 and i<s_new_len):
    c=0
    j=0
    while(j>=0 and j<s_len):
        if(new_list[i]==string[j]):
            c+=1
        c_dict.update({new_list[i]:c})
        j+=1
    i+=1
print(c_dict)