<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/PRATHAM_21BTAI47/College_Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

a,b,c=45,3445,65
d=a+b+c
print(d)
type(d)

3555

int

In [ ]:
x=23.56
print(x)
type(x)

23.56

float

In [ ]:
y=34+3j
print(y)
type(y)

(34+3j)

complex

In [ ]:
s="pratham"
print(s)
type(s)

pratham

str

In [ ]:
m=["pratham","parekh"]

print(m)
type(m)

['pratham', 'parekh']

list

In [ ]:
p={"jeet":"9.56","pratham":"47"}
print(p)
type(p)

{'jeet': '9.56', 'pratham': '47'}

dict

In [ ]:
u=("pratham","parekh")
print(u)
type(u)

('pratham', 'parekh')

tuple

In [ ]:
import math
a1,b1=2,4
a2,b2=6,7
x=math.sqrt((a2-a1)**2 + (b2-b1)**2)
print(x)

5.0

In [ ]:
num=int(input("Enter a number "))
sum = 0
temp = num
while temp > 0:
  digit = temp%10
  sum += digit**3
  temp //= 10
if num == sum:
    print(num,"is a armstrong number")
else:
    print(num,"is not a armstrong number")

Enter a number 456
456 is not a armstrong number

In [ ]:
q=int(input("Enter a number"))
i=0
while i<=q:
  print(i)
  i=i+1

Enter a number5
0
1
2
3
4
5

In [ ]:
a=str(input("Enter a string"))
b={}
for i in a:
  b[i]=a.count(i)
print(b)

Enter a stringPratham
{'P': 1, 'r': 1, 'a': 2, 't': 1, 'h': 1, 'm': 1}

In [ ]:
list=["Pratham","21Btai47","Btech"]
print(list)

['Pratham', '21Btai47', 'Btech']

In [ ]:
tuple=("Birth","April","AIML")
print(tuple)

('Birth', 'April', 'AIML')

In [ ]:
for i in list:
  print(i)
for i in tuple:
  print(i)

Pratham
21Btai47
Btech
Birth
April
AIML