<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/NISHIT_21BTAI08/experiments_pythonlab_collage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#experiment 1
print('This is Python!!!')

This is Python!!!

In [ ]:
var1=14
print(var1)

14

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
a='HI'
print(type(a))

<class 'str'>

In [ ]:
a=12.5
print(type(a))

<class 'float'>

In [ ]:
a=1+2j
print(type(a))

<class 'complex'>

In [ ]:
a=True
print(type(a))

<class 'bool'>

In [ ]:
print(9/4)
print(9//4)
print(9*4)
print(9**4)
print(9+4)
print(9-5)
print(9%4)

2.25
2
36
6561
13
4
1

In [ ]:
a=10
b=20
print(a,b)

10 20

In [ ]:
print(a>b)
print(a==b)
x,y=5,5
print(x==y)
print(x!=y)

False
False
True
False

In [ ]:
a=True
b=False
print(a|b)
print(a&b)
print(a or b)
print(a and b)

True
False
True
False

In [ ]:
my_string="My name is Jaymin"
print(my_string)
print(type(my_string))

My name is Jaymin
<class 'str'>

In [ ]:
string="Hello"
print(len(string))
print(string.lower())
print(string.upper())
string='heya'
print(string.replace('y','a'))
string='hello ladies hello gentlemen hello everyone'
print(string.count("hello"))
string="hi how are you?"
print(string.find("are"))

5
hello
HELLO
heaa
3
7

In [ ]:
#experiment 2
import math
x1=int(input("Enter first x coordinate: "))
x2=int(input("Enter second x coordinate: "))
y1=int(input("Enter first y coordinate: "))
y2=int(input("Enter second y coordinate: "))
man_dist=abs((x2-x1)+(y2-y1))
euc_dist=math.sqrt((pow((x2-x1),2))+(pow((y2-y1),2)))
print("The manhattan distance is:",man_dist,"\nThe euclidean distance is:",euc_dist)

Enter first x coordinate: 4
Enter second x coordinate: 4
Enter first y coordinate: 5
Enter second y coordinate: 6
The manhattan distance is: 1
The euclidean distance is: 1.0

In [ ]:
#experiment 3
x=input("Enter a number: ")
for i in x:
  if not(48<=ord(i)<=57):
    a=False
    break
  else:
    a=True
if a == True:
  if int(x)%2==0:
    print("Even number!")
  else:
    print("Odd number!")
else:
  print("Not a number!")

Enter a number: 55
Odd number!

In [ ]:
#Armstrong number
n=int(input("Enter a number to check: "))
n1=n
n2=n
count=0
sum=0
while n1!=0:
  n1//=10
  count+=1
while n2!=0:
  b=n2%10
  sum+=pow(b,count)
  n2//=10
if n==sum:
  print("Armstrong number!")
else:
  print("Not an armstrong number!")

Enter a number to check: 55
Not an armstrong number!

In [ ]:
x=input("Enter a number: ")
a=False
for i in x:
  if not(48<=ord(i)<=57):
    print("Not a number!")
    a=False
    break
  else:
    a=True
if a==True:
  x=int(x)
  n1=n2=x
  sum=count=0
  while n1!=0:
    n1//=10
    count+=1
  while n2!=0:
    b=n2%10
    sum+=pow(b,count)
    n2//=10
  if x==sum:
    print("Armstrong number!")
  else:
    print("Not an armstrong number!")

Enter a number: 55
Not an armstrong number!

In [ ]:
#experiment 4
n=int(input("Enter a number: "))
while (n!=-1):
  print(n)
  n=n-1

Enter a number: 66
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#experiment5
str=input("enter string : ")
f={} 
for i in str: 
    if i in f: 
        f[i]+=1
    else: 
        f[i]=1
print(f)

enter string : nishit
{'n': 1, 'i': 2, 's': 1, 'h': 1, 't': 1}

In [ ]:
#experiment 6
lst1=[67,6748.74,"ghg"]  #this is a list
tpl1=(546.65,65,"hfg",'bye')  #this is a tuple
for i in lst1:
  print(i)
for i in tpl1:
  print(i)

67
6748.74
ghg
546.65
65
hfg
bye

In [ ]:
#experiment 7a
import sympy
sum=0
for i in range(0,2000001):
  if (sympy.isprime(i))==True:
    sum+=i
print(sum)
#experiment 7b
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<4000000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

142913828922
4613732

In [ ]:
#experiment 8
def dup(lst):
  lst1=[]
  for i in lst:
    if i in lst1: