<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/DIVYAM_21BTAI10/COLLEGE_PYTHON-LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Expirement-1

In [1]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:23
23

int

In [2]:
b=input("enter the string:")
print(b)
type(b)

enter the string:divyam
divyam

str

In [4]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:3.14
3.14

float

Experiment-2

In [ ]:
x1 = float(input("Give value of x1 :"))
x2 = float(input("Give value of x2 :"))
y1 = float(input("Give value of y1 :"))
y2 = float(input("Give value of y2 :"))

dist=(x1-y1**2)+(y1-y2**2)
print("your answer",dist)

Give value of x1 :45
Give value of x2 :56
Give value of y1 :67
Give value of y2 :78
your answer -10461.0

Experiment-3

In [8]:
my_lists=["Divyam","Chirag","Patel"]
print(my_lists)

['Divyam', 'Chirag', 'Patel']

In [10]:
my_tuple=("Divyam","Chirag","Patel")
print(my_tuple)

('Divyam', 'Chirag', 'Patel')

In [11]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Divyam
Chirag
Patel
Divyam
Chirag
Patel

Experiment-4(a)

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num, " is even")
else:
   print(num, " is odd")

Enter a number: 23
23  is odd

Experiment-4(b)

In [ ]:
num=input("Enter number:")
n=list(num)

len_num=len(n)
sum=0
for i in range(len_num):
    sum+=pow(int(n[i]),len_num)

if(int(num)==sum):
    print("It is armstrong")
else:
    print("It is not armstrong")

Enter number:23
It is not armstrong

Experiment-5

In [12]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

Experiment-6

In [13]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:divyam
{'d': 1, 'i': 1, 'v': 1, 'y': 1, 'a': 1, 'm': 1}

Experiment-7

In [14]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [15]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<600000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

257114

In [16]:
l=[1,2,3,4,5,6,9,4,3,6,7]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 6