<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/ARMAAN_21BTAI04/COLLEGE_PYTHONBOOK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num1=int(input("enter the number:"))
print(num1)
type(num1)

enter the number:55
55

int

In [1]:
str=(input("enter the string:"))
print(str)
type(str)

enter the string:Armaan
Armaan

str

In [4]:
float_num = float(input("enter the float number:"))
print(float_num)
type(float_num)

enter the float number:35.65
35.65

float

In [5]:
import math
x1=int(input("enter the value x1"))
x2=int(input("enter the value x2"))
y1=int(input("enter the value y1"))
y2=int(input("enter the value y2"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print("the distance between two points is;",d)

enter the value x12
enter the value x23
enter the value y13
enter the value y24
the distance between two points is; 1.4142135623730951

In [6]:
num = int(input("enter the number: "))
if (num%2==0):
    print('num is an even number')
else:
    print('num is an odd number')

enter the number: 34
num is an even number

In [12]:
x=int(input("enter the number"))
while x>=0:
     print(x)
     x=x-1

enter the number5
5
4
3
2
1
0

In [14]:
str1=input("Enter a String")
dict = {}
for i in str1: 
    dict[i] = str1.count(i)
print (dict)

Enter a Stringbanana
{'b': 1, 'a': 3, 'n': 2}

In [15]:
my_lists=["divya","armaan","kushal"]
my_tuple=("divya","armaan","kushal")
print(my_lists)
print(my_tuple)
for i in my_lists:
    print(i)
for i in my_tuple:
    print(i)

['divya', 'armaan', 'kushal']
('divya', 'armaan', 'kushal')
divya
armaan
kushal
divya
armaan
kushal

In [16]:
# write a program to calculate factorial of a given number
num = int(input("Enter a number: "))
res = 1
for i in range(1, num+1):
    res = res * i
print(f"The factorial of {num} number is {res}")

Enter a number: 5
The factorial of 5 number is 120