<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/KUSHAL_21BTAI18/COLLEGE_PYTHON_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXPERIMENT 1:

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:5
5

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string: Kushal
 Kushal

str

In [ ]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:5.6
5.6

float

EXPERIMENT 2

In [ ]:
import math
x1=int(input("enter the value of x1:"))
x2=int(input("enter the value of x2:"))
y1=int(input("enter the value of y1:"))
y2=int(input("enter the value of y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print('The distance between two points is:',d)

enter the value of x1:2
enter the value of x2:3
enter the value of y1:4
enter the value of y2:5
The distance between two points is: 1.4142135623730951

EXPERIMENT 3

In [ ]:
my_lists=["Kushal","Biren","Shah"]
print(my_lists)

['Kushal', 'Biren', 'Shah']

In [ ]:
my_tuple=("Kushal","Biren","Shah")
print(my_tuple)

('Kushal', 'Biren', 'Shah')

In [ ]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kushal
Biren
Shah
Kushal
Biren
Shah

EXPERIMENT 4(A)

In [ ]:
x=int(input("Enter a number:"))
if x%2==0:
  print('x is an even number')
else :
  print('x is an odd number')

Enter a number:3
x is an odd number

EXPERIMENT 4(B)

In [ ]:
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
      print(num,"is an armstrong number")
else:
  print(num,"is a not armstrong number")

enter the number:153
153 is an armstrong number

EXPERIMENT 5

In [ ]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :6
6
5
4
3
2
1
0

EXPERIMENT 6

In [ ]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:BE GOOD
{'B': 1, 'E': 1, ' ': 1, 'G': 1, 'O': 2, 'D': 1}

EXPERIMENT 7

In [ ]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [ ]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<600000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

257114

In [ ]:
l=[1,2,3,4,5,6,9,4,3,6,7]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 6

EXPERIMENT 8

In [1]:
n = [12,45,8,2,46]
l = len(n)
t= 0
for i in range(l) :
  t = t + n[i]
print("Total is ",t)
mean = t/l
print(mean)

Total is  113
22.6

EXPERIMENT 9

In [2]:
numb = [2, 4, 5, 8, 9]
no = len(numb)
numb.sort()
if no % 2 == 0:
  median1 = numb[no//2]
  median2 = numb[no//2 - 1]
  median = (median1 + median2)/2
else:
  median = numb[no//2]
print("The median of the given numbers ", numb, "is",(median))

The median of the given numbers  [2, 4, 5, 8, 9] is 5

EXPERIMENT 10

In [3]:
d = {"kushal" : "shah" , "apple": "pie", "chocolate" :"cake","mango" :"smoothie"}
username = input("Enter the username :")
if username in d:
  password = input("Enter the password :")
  if d[username]== password :
    print("You are logged in to system !")
  else :
    print("You have entered wrong password . ")
else :
  print("The person is not valid to login .")

Enter the username :kushal
Enter the password :shah
You are logged in to system !

EXPERIMENT 11

In [5]:
t = (1, 2, 3)
i = ''.join(map(str, t))
print(i)

123

EXPERIMENT 12

In [7]:
subject_marks = [('Discrete Mathematics', 93), ('Python Programming', 95), ('Environment',96)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('Discrete Mathematics', 93), ('Python Programming', 95), ('Environment', 96)]

Sorting the List of Tuples:
[('Discrete Mathematics', 93), ('Python Programming', 95), ('Environment', 96)]

EXPERIMENT 13

In [9]:
# tup = eval(input("Enter a tuple :- "))
# index = 0
# while index < len(tup):
#   new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
#   print (new, end = " ")
#   index += 1

EXPERIMENT 14

In [10]:
n = int(input("Enter a number till which you want fibonacci series: "))
n1 = 0
n2=1
print("Series",n1,n2,end=" ")
for i in range(2,n):
  new = n1 + n2
  n1 = n2
  n2 = new
  print(new, end=" ")
print()

Enter a number till which you want fibonacci series: 10
Series 0 1 1 2 3 5 8 13 21 34

EXPERIMENT 14

In [11]:
while True:
    print("\nMENU")
    print("1. Binary Search")
    print("2. Linear Search")

    print("3. Exit")
    choice = int(input("\nEnter the Choice: "))

    if choice == 1:
        def binary_search(list1, n):
            low = 0
            high = len(list1) - 1
            mid = 0

            while low <= high:

                mid = (high + low) // 2

                if list1[mid] < n:
                    low = mid + 1

                elif list1[mid] > n:
                    high = mid - 1
                else:
                    return mid

            return -1


        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = binary_search(list1, n)

        if result != -1:
            print("Element is present at index", str(result))
        else:
            print("Element is not present in list1")

    if choice == 2:
        def search(arr, x):

            for i in range(len(arr)):

                if arr[i] == x:
                    return i

            return -1


        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = search(list1, n)

        if result != -1:
            print("Element is present at index", result)
        else:
            print("Element is not present in list1")

    break

MENU
1. Binary Search
2. Linear Search
3. Exit

Enter the Choice: 1
enter digits of array:1
enter digits of array:2
enter digits of array:3
enter digits of array:4
enter digits of array:5
enter your target: 3
Element is present at index 2

EXPERIMENT 15.1

In [12]:
list1=[30,5,6,8,5,2]
print(list1)

for i in range(len(list1)-1):

  for j in range(i+1,len(list1)):

    if list1[i] > list1[j]:

      list1[i],list1[j] = list1[j],list1[i]

print(list1)

[30, 5, 6, 8, 5, 2]
[2, 5, 5, 6, 8, 30]

EXPERIMENT 15.2

In [13]:
list1=[10,4,25,1,5]
print(list1)

for i in range(1,len(list1)):

  value0 = list1[i]                  

  j = i-1

  while j>=0 and value0<list1[j]:

    list1[j+1] = list1[j]
    j=j-1

  list1[j+1] = value0
  print(list1)

[10, 4, 25, 1, 5]
[4, 10, 25, 1, 5]
[4, 10, 25, 1, 5]
[1, 4, 10, 25, 5]
[1, 4, 5, 10, 25]