<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/KUSHAL_21BTAI18/COLLEGE_PYTHON_LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EXPERIMENT 1:

In [3]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:5
5

int

In [4]:
b=input("enter the string:")
print(b)
type(b)

enter the string: Kushal
 Kushal

str

In [22]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:5.6
5.6

float

EXPERIMENT 2

In [6]:
import math
x1=int(input("enter the value of x1:"))
x2=int(input("enter the value of x2:"))
y1=int(input("enter the value of y1:"))
y2=int(input("enter the value of y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print('The distance between two points is:',d)

enter the value of x1:2
enter the value of x2:3
enter the value of y1:4
enter the value of y2:5
The distance between two points is: 1.4142135623730951

EXPERIMENT 3

In [13]:
my_lists=["Kushal","Biren","Shah"]
print(my_lists)

['Kushal', 'Biren', 'Shah']

In [15]:
my_tuple=("Kushal","Biren","Shah")
print(my_tuple)

('Kushal', 'Biren', 'Shah')

In [16]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kushal
Biren
Shah
Kushal
Biren
Shah

EXPERIMENT 4(A)

In [7]:
x=int(input("Enter a number:"))
if x%2==0:
  print('x is an even number')
else :
  print('x is an odd number')

Enter a number:3
x is an odd number

EXPERIMENT 4(B)

In [9]:
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
      print(num,"is an armstrong number")
else:
  print(num,"is a not armstrong number")

enter the number:153
153 is an armstrong number

EXPERIMENT 5

In [10]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :6
6
5
4
3
2
1
0

EXPERIMENT 6

In [11]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:BE GOOD
{'B': 1, 'E': 1, ' ': 1, 'G': 1, 'O': 2, 'D': 1}

EXPERIMENT 7

In [18]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [19]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<600000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

257114

In [21]:
l=[1,2,3,4,5,6,9,4,3,6,7]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 6