<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/MAN_21BTAI28/Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####EXPERIMENT 1####

In [1]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:7
7

int

In [2]:
b=input("enter the string:")
print(b)
type(b)

enter the string:man
man

str

In [3]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:44.7
44.7

float

####EXPEIMENT 2####

In [4]:
import math
x1=int(input("enter the value of x1:"))
x2=int(input("enter the value of x2:"))
y1=int(input("enter the value of y1:"))
y2=int(input("enter the value of y2:"))
d=math.sqrt((x2-x1)**2+(y2-y1)**2)
print('The distance between two points is:',d)

enter the value of x1:4
enter the value of x2:5
enter the value of y1:6
enter the value of y2:7
The distance between two points is: 1.4142135623730951

####EXPEIMENT 3(A)####

In [5]:
x=int(input("Enter a number:"))
if x%2==0:
  print('x is an even number')
else :
  print('x is an odd number')

Enter a number:4
x is an even number

####EXPERIMENT 3(B)####

In [6]:
num=int(input("enter the number:"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
      print(num,"is an armstrong number")
else:
  print(num,"is a not armstrong number")

enter the number:153
153 is an armstrong number

####EXPERIMENT 4####

In [7]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

####EXPERIMENT 5####

In [8]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:hello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

####EXPERIMENT 6####

In [12]:
my_lists=["Man","patel","hello"]
print(my_lists)

['Man', 'patel', 'hello']

In [13]:
my_tuple=("Man","patel","hello")
print(my_tuple)

('Man', 'patel', 'hello')

In [14]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Man
patel
hello
Man
patel
hello