<a href="https://colab.research.google.com/github/ARPIT2128/KU-BTECH-AIML/blob/main/KINAL_21BTAI39/COLLEGE_PYTHON-LAB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment-1

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:39
39

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string:kinal
kinal

str

In [ ]:
c=float(input("enter the float value:"))
print(c)
type(c)

enter the float value:3.14
3.14

float

Experiment-2

In [ ]:
x1 = float(input("Give value of x1 :"))
x2 = float(input("Give value of x2 :"))
y1 = float(input("Give value of y1 :"))
y2 = float(input("Give value of y2 :"))

dist=(x1-y1**2)+(y1-y2**2)
print("your answer",dist)

Give value of x1 :34
Give value of x2 :23
Give value of y1 :56
Give value of y2 :12
your answer -3190.0

Experiment-3

In [ ]:
my_lists=["Kinal","Suthar"]
print(my_lists)

['Kinal', 'Suthar']

In [ ]:
my_tuple=("Kinal","Suthar")
print(my_tuple)

('Kinal', 'Suthar')

In [ ]:
for i in my_lists:
  print(i)
for i in my_tuple:
  print(i)

Kinal
Suthar
Kinal
Suthar

Experiment-4(a)

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num, " is even")
else:
   print(num, " is odd")

Enter a number: 23
23  is odd

Experiment-4(b)

In [ ]:
num=input("Enter number:")
n=list(num)

len_num=len(n)
sum=0
for i in range(len_num):
    sum+=pow(int(n[i]),len_num)

if(int(num)==sum):
    print("It is armstrong")
else:
    print("It is not armstrong")

Enter number:345
It is not armstrong

Experiment-5

In [ ]:
x=int(input("Enter the number :"))
while x >=0:
  print(x)
  x=x-1

Enter the number :5
5
4
3
2
1
0

Experiment-6

In [ ]:
y=input("Enter the string:")
f={}
for i in y:
  if i in f:
    f[i]+=1
  else :
    f[i]=1
print(f)

Enter the string:kinal
{'k': 1, 'i': 1, 'n': 1, 'a': 1, 'l': 1}

Experiment-7

In [ ]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [ ]:
def fibonacci():
  sequence=[1,2]
  total=0
  while sequence[-1]<600000:
    if sequence[-1]%2==0:
      total+=sequence[-1]
    sequence.append(sequence[-1]+sequence[-2])
  print(total)
fibonacci()

257114

In [ ]:
l=[1,2,3,4,5,6,9,4,3,6,7]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

4 3 6

In [ ]:
def encypt_func(txt, s):  
    result = ""  
  
  
# transverse the plain txt  
    for i in range(len(txt)):  
        char = txt[i]  
        # encypt_func uppercase characters in plain txt  
  
        if (char.isupper()):  
            result += chr((ord(char) + s - 64) % 26 + 65)  
        # encypt_func lowercase characters in plain txt  
        else:  
            result += chr((ord(char) + s - 96) % 26 + 97)  
    return result  
# check the above function  
txt = "CEASER CIPHER EXAMPLE"  
s = 4  
  
print("Plain txt : " + txt)  
print("Shift pattern : " + str(s))  
print("Cipher: " + encypt_func(txt, s))

Plain txt : CEASER CIPHER EXAMPLE
Shift pattern : 4
Cipher: HJFXJWsHNUMJWsJCFRUQJ

In [ ]:
input("enter a string")
string="kinal"
print(string.lower())

enter a string kinal
kinal

In [ ]:
input("enter a string")
string="kinal"
print(string.upper())

enter a stringkinal
KINAL

In [ ]:

str1="kinal"
str2= "suthar"
print ("string1",str1)
print("string2",str2)
str1+str2

string1 kinal
string2 suthar

'kinalsuthar'

In [ ]:
list1=[100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [ ]:
s1={1,2,3}
s2={3,4,5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [ ]:
s1={1,2,3}
s2={3,4,5}
print(s1-s2)

{1, 2}

In [ ]:
s1={1,2,3}
s2={3,4,5}
print(s1^s2)

{1, 2, 4, 5}

In [ ]:
set1={1,2,3}

set2=set1
print(set2)

{1, 2, 3}

In [ ]:
my_list=["kinal","krishna","divyam"]
print(my_list)
my_tupple=["kinal","krishna","divyam"]
print(my_tupple)
for i in my_list:
  print(i)
for i in my_tupple:
  print(i)

['kinal', 'krishna', 'divyam']
['kinal', 'krishna', 'divyam']
kinal
krishna
divyam
kinal
krishna
divyam

In [ ]:
b=(input("enter the value:"))
a=False
for i in b:
  if i in ['0','1','2','3','4','5','6','7','8','9']:
    a=True
if a==True:
  print(a)
  print("int")
else:
  print("str")

enter the value:12
True
int

In [ ]:
l1=[1,8,7,2,21,15]
l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [ ]:
l1=[1,8,7,2,21,15]
l1.reverse()
print(l1)

[15, 21, 2, 7, 8, 1]

In [ ]:
l1=[1,8,7,2,21,15]
l1.append(45)
print(l1)

[1, 8, 7, 2, 21, 15, 45]

In [ ]:
l1=[1,8,7,2,21,15,1,3,4,1,1]
print(l1.count(1))

4

In [ ]:
l1=[8,7,2,21,15,1,3,4,1,1]
print(l1.index(1))

5

In [ ]:
l1=[1,8,7,2,21,15,1,3,4,1,1]
(l1.insert(2,3))
print(l1)

[1, 8, 3, 7, 2, 21, 15, 1, 3, 4, 1, 1]

In [ ]:
l1=[1,8,7,2,21,15,1,3,4,1,1]
(l1.pop(1))
print(l1)

[1, 7, 2, 21, 15, 1, 3, 4, 1, 1]

In [ ]:
l1=[1,8,7,2,21,15,1,3,4,1,1]
(l1.remove(21))
print(l1)

[1, 8, 7, 2, 15, 1, 3, 4, 1, 1]

In [ ]:
l1=[1,8,7,2,21,15,1,3,4,1,1]
print(l1.count(1))

4

In [ ]:
a=(7,0,8,0,0,9)
a.count(0)

3

In [ ]:
mydict={
    "kinal":"singer"
}
print(mydict["kinal"])

singer

Experiment-9

In [1]:
numb = [2, 4, 5, 8, 9]
no = len(numb)
numb.sort()
if no % 2 == 0:
  median1 = numb[no//2]
  median2 = numb[no//2 - 1]
  median = (median1 + median2)/2
else:
  median = numb[no//2]
print("The median of the given numbers ", numb, "is",(median))

The median of the given numbers  [2, 4, 5, 8, 9] is 5

In [3]:
d = {"Kinal" : "Kinal123" , "me": "singer", "chocolate" :"dairy milk","orange" :"juice"}
username = input("Enter the username :")
if username in d:
  password = input("Enter the password :")
  if d[username]== password :
    print("You are logged in to system !")
  else :
    print("You have entered wrong password . ")
else :
  print("The person is not valid to login .")

Enter the username :Kinal
Enter the password :Kinal123
You are logged in to system !

Experiment-11

In [4]:
subject_marks = [('Mathematics', 93), ('Python', 95), ('Environment',96)]
print("Original list of tuples:")
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(subject_marks)

Original list of tuples:
[('Mathematics', 93), ('Python', 95), ('Environment', 96)]

Sorting the List of Tuples:
[('Mathematics', 93), ('Python', 95), ('Environment', 96)]

In [ ]:
tup = eval(input("Enter a tuple :- "))
# index = 0
# while index < len(tup):
#   new = tup[ index ][1 : ] + tup[ index ][ 0 ] + "ay"
#   print (new, end = " ")
#   index += 1

Experiment-13

In [5]:
n = int(input("Enter a number till which you want fibonacci series: "))
n1 = 0
n2=1
print("Series",n1,n2,end=" ")
for i in range(2,n):
  new = n1 + n2
  n1 = n2
  n2 = new
  print(new, end=" ")
print()

Enter a number till which you want fibonacci series: 7
Series 0 1 1 2 3 5 8

In [ ]:
while True:
    print("\nMENU")
    print("1. Binary Search")
    print("2. Linear Search")

    print("3. Exit")
    choice = int(input("\nEnter the Choice: "))

    if choice == 1:
        def binary_search(list1, n):
            low = 0
            high = len(list1) - 1
            mid = 0

            while low <= high:

                mid = (high + low) // 2

                if list1[mid] < n:
                    low = mid + 1

                elif list1[mid] > n:
                    high = mid - 1
                else:
                    return mid

            return -1


        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = binary_search(list1, n)
        if result != -1:
            print("Element is present at index", str(result))
        else:
            print("Element is not present in list1")
            if choice == 2:
              def search(arr, x):
                for i in range(len(arr)):
                  if arr[i] == x:
                    return i
                    return -1


        list1 = []
        i = 0
        while i < 5:
            list1.append(int(input("enter digits of array:")))
            i = i + 1

        # list1.append(input("enter digit"))
        n = int(input("enter your target: "))

        # Function call
        result = search(list1, n)

        if result != -1:
            print("Element is present at index", result)
        else:
            print("Element is not present in list1")

    break

MENU
1. Binary Search
2. Linear Search
3. Exit

Experiment-15

In [11]:
list1=[30,5,6,8,5,2]
print(list1)

for i in range(len(list1)-1):

  for j in range(i+1,len(list1)):

    if list1[i] > list1[j]:

      list1[i],list1[j] = list1[j],list1[i]

print(list1)

[30, 5, 6, 8, 5, 2]
[2, 5, 5, 6, 8, 30]

In [12]:
t1=[10,4,25,1,5]
print(list1)

for i in range(1,len(list1)):

  value0 = list1[i]                  

  j = i-1

  while j>=0 and value0<list1[j]:

    list1[j+1] = list1[j]
    j=j-1

  list1[j+1] = value0
  print(list1)

[2, 5, 5, 6, 8, 30]
[2, 5, 5, 6, 8, 30]
[2, 5, 5, 6, 8, 30]
[2, 5, 5, 6, 8, 30]
[2, 5, 5, 6, 8, 30]
[2, 5, 5, 6, 8, 30]